[2016-09-14 20:42] Orbiter opened #1 "Re-Branding"
please help to change all occurrences of 'loklak' in the web interface with 'susi'

[2016-09-27 16:56] sagarchoudhary96 opened #2 "Short-Hand Notation question issue"
# Short Hand Notation issue
If we use short hand notations in questions it replies with default message. like if we ask:-

 then it replies with

[2016-09-27 17:09] shivenmian commented on #2
Not a valid issue. That's true for all bots.

[2016-09-27 17:09] #2 closed

[2016-09-27 17:19] sagarchoudhary96 commented on #2
But like in allo ...if we see it responds to short hand questions too...

[2016-09-27 17:50] shivenmian commented on #2
That doesn't make it important. Our dataset should cover more **essential** data, and also the number of shorthands can be a lot for different phrases so doesn't make sense.

[2016-09-29 06:12] addiittya2006 opened #3 "Add Support for Emoji Characters"
Support for Emoji Unicode Characters needs to be added to Susi server to parse emoji input for the API. Multiple rules regarding Emojis also need to be defined.

[2016-09-29 06:30] Orbiter opened #4 "fix travis build errors"
please check https://travis-ci.org/fossasia/susi_server/builds/163611328 and fix the build file(s).
The problem occurred since the migration from loklak_server and the removal of many unused libraries in susi_server

[2016-09-30 17:38] jig08 commented on #3
@addiittya2006 Explain pls.

[2016-10-02 07:07] addiittya2006 commented on #3
For Susi to parse Emoji characters, we need to define rules for that Emoji related to the Emoji Character based on its unicode. Susi shall be able to predict basic expressions based on the Emoji entered by the user.
[Maybe sometime in the future proposal] because of a lot of Emoji Characters.
This issue was referenced from fossasia/susi_android#36.

[2016-10-03 21:54] mariobehling opened #5 "Implement full support/ make full use of Wikidata features"
How can we use wikidata and its expanded features?

Useful links
- https://query.wikidata.org
- https://www.wikidata.org/w/api.php
- https://www.mediawiki.org/wiki/Wikidata_Toolkit

A sample site that is getting answers from Wikidata:
- https://askplatyp.us
- The code of askplatypus https://github.com/ProjetPP/

[2016-10-04 05:54] shivenmian commented on #5
@mariobehling Wikidata is already being used in susi_server. :)

[2016-10-04 09:26] mariobehling commented on #5
I am completely aware. We are not using all its features and full potential.

[2016-10-04 09:29] mariobehling opened #6 "Clean up Readme file and take out features that were separated"
Susi was split from loklak. Currently we have a lot of info that came from loklak. Please take out text that is related to loklak rather than susi, e.g. How do I analyze data acquired by Susi. (Are we still following elasticsearch's approach here?)

[2016-10-10 20:53] mariobehling opened #7 "Automatically deploy susi_server to Heroku with travis"
Other FOSSASIA projects get deployed automatically to Heroku after pull requests. Please implement the same.

I have set up an app already here: https://susi-server.herokuapp.com

[2016-10-10 21:08] mariobehling opened #9 "Add documentation in /docs how to access account and authorization features through API"
Please help to document the AAA concept.

[2016-10-12 09:42] tejavojjala opened #10 "Susi response is not as expected for pie chart queries"
the response for the query " who will win 2016 presidential election" should give a response of type "piechart" but instead it is showing "i dont know"

[2016-10-12 10:16] gogeta95 opened #11 "Sign Up API, email not recieved."
I used the sign up API and sent a sign up request, but did not get any verification email.
API was `/aaa/signup.json` .

[2016-10-12 10:53] gogeta95 opened #12 "Security Issues with Authentication"
right now, the server is accepting user's passwords as query parameter and in plain text, which is a security flaw.
we need to implement HTTPS support as @Orbiter  already said.
and also we should send sensitive information like **username and passwords, in request body** and also apply Base64 encoding in password from client side, which, the server has to decode on receiving.
see [purpose of base

[2016-10-12 11:37] jig08 commented on #12
@gogeta95 would you like to take up this issue ?

[2016-10-12 11:48] gogeta95 commented on #12
sorry, I can't work on the server. I know only android right now.

[2016-10-12 12:34] Orbiter commented on #12
This issue is full of misunderstandings. The cited stackoverflow page is not a solution recommendation, it is just a question. Base64 encoding is part of the http authentication stadard which is implemented in susi as defined by the standard.

Only https usage is required. I will put that ontop of susi. It is not a coding requirement.

The access to the server using POST is correct and functional.

[2016-10-12 12:34] #12 closed

[2016-10-17 18:48] mariobehling commented on #11
@Orbiter Any updates?

[2016-10-19 14:20] mariobehling commented on #7
Some issue deploying the app. Please see below:

Unzipping /app/tmp/cache/.gradle/wrapper/dists/gradle-2.0-bin/5h57m9vra0mjv9qs45oqtsb5c0/gradle-2.0-bin.zip to /app/tmp/cache/.gradle/wrapper/dists/gradle-2.0-bin/5h57m9vra0mjv9qs45oqtsb5c0
       Set executable permissions for: /app/tmp/cache/.gradle/wrapper/dists/gradle-2.0-bin/5h57m9vra0mjv9qs45oqtsb5c0/gradle-2.0/bin/gradle

       FAILURE: Buil

[2016-10-19 14:39] charany1 opened #13 "Correct eclipseSetup.md"
File link : https://github.com/fossasia/susi_server/blob/development/docs/eclipseSetup.md

Line 9 : Once the repository is ready using the Package Explorer navigate to org.loklak.LoklakServer .

I couldn't find any file LoklakServer.java , probably it should be org.loklak.SusiServer .

[2016-10-19 15:53] chashmeetsingh commented on #7
Update:
`heroku config:set GRADLE_TASK="build" --app susi-server` was set

Error log:
`2016-10-19T15:37:22.545167+00:00 app[web.1]: Error: Could not find or load main class org.loklak.LoklakServer`

[2016-10-19 17:18] jig08 commented on #13
@charany1 Thanks for pointing it out.

[2016-10-19 17:27] jig08 commented on #7
@chashmeetsingh Because it has been renamed to `org.loklak.SusiServer`

[2016-10-19 18:16] chashmeetsingh commented on #7
@jig08 I tried deploying the current state of the development branch still the same error pops up, can you recheck the code?
Thanks!

[2016-10-20 05:54] charany1 opened #15 "susi server failed to start in cygwin"
I followed steps mentioned in README of susi_server , however my server is not starting .

 I changed LoklakServer to SusiServer in build.xml like this :

[code]

Terminal Outputs :

[code]

I'm not able to figure why it's not able to find main class ?

Since , I'm seeing that my classes directory has a SusiServer.class :

[code]

[2016-10-20 08:31] Orbiter commented on #7
please check if this helps: https://github.com/fossasia/susi_server/commit/2693cc9e0bb8882f19271295b7c626f62b31f299

[2016-10-20 08:34] Orbiter commented on #15
Name of the main class is SusiServer, made some fixes here: https://github.com/fossasia/susi_server/commit/2693cc9e0bb8882f19271295b7c626f62b31f299

I always start Susi just with bin/start.sh

[2016-10-20 08:44] chashmeetsingh commented on #7
just tried, this comes up
`Error: Could not find or load main class org.loklak.SusiServer`

[2016-10-20 12:30] #13 closed

[2016-10-21 07:03] charany1 commented on #15
@Orbiter , thanks for the fixes , I pulled your latest commit , however problem is still there . Could it be due to the reason that I'm using a Windows machine ?

In bin/start,sh , I've changed ':' to ';' as class path separator , however , it doesn't work.

[2016-10-23 18:58] jig08 commented on #4
@Orbiter Closing this as `susi_server` is building fine on TravisCI.

[2016-10-23 18:58] #4 closed

[2016-10-23 19:07] jig08 opened #18 "Incorrect link to susi_server repo in cloud9-setup.sh"
Owing to previous existence as `loklak` , the link to github repo needs to be updated in the cloud9 deployment commands.

[2016-10-23 20:17] mariobehling commented on #7
@chashmeetsingh The build is working now with travis. How to make it run on Heroku?

[2016-10-23 20:19] #18 closed

[2016-10-23 20:20] jig08 commented on #1
@mariobehling As there might be many instances left unobserved, I am re-opening this issue.

[2016-10-24 16:05] chashmeetsingh commented on #7
@mariobehling @Orbiter
please have a look at [Settings](http://stackoverflow.com/questions/36732703/heroku-java-procfile-could-not-find-or-load-main-class) this should help a little

[2016-10-25 23:17] Orbiter commented on #7
This is the log from heroku:
[code]
But I don't know what that means. Anybody any idea?

[2016-10-26 06:51] Orbiter commented on #15
it looks like that ```ps -o``` does not work on cygwin.

[2016-10-26 06:56] Orbiter commented on #3
I cannot see how this issue is different from a "support full UTF-8 support" requirement. We have utf-8 support. Therefore I cannot see that anything has to be done for this issue. Please check the ability to use utf-8 (which then includes emojis) and if that works (which should) close this issue.

[2016-10-27 11:24] Orbiter commented on #15
I dont't have a cygwin development environment because I don't have a windows computer. I would like to hand over this issue to someone with a windows/cygwin development environment

[2016-10-27 12:04] sudheesh001 commented on #15
@charany1 Can you try this
`START java -Xmx4G -Xms1G -server -XX:+AggressiveOpts -XX:NewSize=512M -cp "classes;lib/*" org.loklak.SusiServer`

It should open up a new command line instance running java.

[2016-10-27 12:08] sudheesh001 commented on #7
It looks like heroku is throwing a 503, You can use the same buildpack that we use for loklak_server/ so that it gets the required dependencies before pushing. This documentation can help https://blog.travis-ci.com/2013-07-09-introducing-continuous-deployment-to-heroku/

[2016-10-27 13:06] sourabhtk37 commented on #15
Should I take this up?

[2016-10-27 13:50] sudheesh001 commented on #15
@sourabhtk37 I am not sure if there's anything in this that needs to be taken up, I am waiting for @charany1 to reply so that we can see what to do next. For me in a cygwin environment it works when I use the command above.

[2016-10-27 13:56] daminisatya commented on #15
@sudheesh001 ping

[2016-10-29 12:04] charany1 commented on #15
@sudheesh001 , I tried your command , it said START command not found , however when I omit START , it opens up a new CMD type window , which closes automatically in a second .

[2016-10-29 16:08] sbhayana26 commented on #3
Does the issue still need to be worked upon?

[2016-10-30 11:46] sudheesh001 commented on #15
@charany1 Run the start command from the Command prompt `cmd.exe` instead of cygwin and can you tell me then what happens ?

[2016-10-30 13:49] sudheesh001 commented on #15
Or there's another option, if the build seems to work correctly, do this, execute the jar
[code]
That should run it, `loklak.jar` because this file hasn't been edited. https://github.com/fossasia/susi_server/blob/development/build.xml#L131

[2016-10-30 13:49] sudheesh001 opened #21 "Rename distribution jar from loklak.jar to susiserver.jar"

[2016-10-30 16:36] #21 closed

[2016-10-30 16:37] Orbiter commented on #15
I merged https://github.com/fossasia/susi_server/pull/22 please try again

[2016-10-31 22:06] mariobehling opened #23 "Add AskSusi to zulip"
Propose and implement integration with Zulip. What needs to be done on the Susi project? There is an issue here on the zulip project: https://github.com/zulip/zulip/issues/2168

[2016-11-02 12:36] charany1 commented on #15
@Orbiter , I pulled code after your merge #22  .

@sudheesh001
1. On doing

` START java -Xmx4G -Xms1G -server -XX:+AggressiveOpts -XX:NewSize=512M -cp "classes;lib/*" org.loklak.SusiServer
`
from a CMD , a new CMD window opens up with message

` ERROR StatusLogger No log4j2 configuration file found . Using default Configuration  : logging only errors to console .

_-----plus some other stacktrace

[2016-11-02 12:57] charany1 commented on #15
Okay , so above error happened because I was on developent branch which indeed doesn't have _susi_cognition_boilerplate.json.example_ , when I switched to master , and used

`ant jar

java -jar dist/susiserver.jar`

 it worked , so I've server running at

http://127.0.0.1:4000/  .

Thanks @Orbiter , @sudheesh001  .

I'm closing this for now .

[2016-11-02 13:25] #15 closed

[2016-11-02 14:58] charany1 commented on #11
@mariobehling , @Orbiter  , I just got the code set-up in eclipse , would like to work on this .

[2016-11-03 03:27] mariobehling commented on #11
Please go ahead. Cheers.

[2016-11-04 20:47] mariobehling commented on #7
It seems the build was successful shortly, but now failing again.

[2016-11-04 20:51] chashmeetsingh commented on #7
[code]

Only issue is its not able to find the main class. I tried but couldn't find a solution

[2016-11-10 12:57] charany1 commented on #11
@jig08 , my office's firewall blocks connection to smtp.gmail.com:587 , so I won't be able to handle this issue . Please de-assign .

[2016-11-16 07:55] mariobehling commented on #1
It looks like this has been achieved at different PRs now.

[2016-11-16 07:55] #1 closed

[2016-11-18 15:21] Orbiter commented on #11
This is fixed now. The reason that it was not working was a configuration name change in https://github.com/loklak/loklak_server/commit/2b4aa57473b720daed8ae0cd68d0d8186b469779#diff-3e9a75946a4fa527d7ad70015889fccbL52 which moved to susi_server. The fix was not done as code change but as configuration change on the server

[2016-11-18 15:21] #11 closed

[2016-11-19 10:05] mariobehling opened #25 "Change Susi apps to account and adopt new logic"
* [ ] Change api.asksusi.com to "Home" and use slug "/" instead of web URL
* [ ] Only show "Account Apps"
* [ ] Change top right menu "Apps" to "Account"
* [ ] Take out slug "/apps/". Instead of http://api.asksusi.com/apps/signup/ change to http://api.asksusi.com/signup/
* [ ] On apps page change background from black to white and take out effects (e.g. moving in of apps)
* [ ] Make accounting opt

[2016-11-19 10:18] mariobehling commented on #7
Ok, so I have added you guys to the loklak Herokuapp as well. Without looking into detail I have tried to use the loklak Heroku build pack (https://github.com/loklak/heroku_buildpack_ant_loklak) for the susi server instead of Gradle. I guess some code needs to be changed in the build pack to make that work.

[2016-11-19 11:05] mariobehling opened #26 "Implement "Delete Account" feature"
Currently there is no feature to delete an account. Please implement this feature.

[2016-11-19 11:58] KukkadapuSushma commented on #25
Hello, I would like to work on this issue!

[2016-11-19 12:09] daminisatya commented on #25
@KukkadapuSushma you work now, any help you can follow up over here or on gitter

[2016-11-19 12:09] KukkadapuSushma commented on #25
Sure, thanks @daminisatya

[2016-11-19 14:02] dexta11 opened #27 "Installation is failling while installing loklag file is missing"
![s1](https://cloud.githubusercontent.com/assets/22263960/20455967/b09b7fb4-ae8e-11e6-9d95-eabb766936fe.png)
![s2](https://cloud.githubusercontent.com/assets/22263960/20455970/b21dc22a-ae8e-11e6-9103-74c839a068a2.png)

[2016-11-23 13:22] SuperHaker opened #28 "Email verification link not working"
Shows 404 message.

![screenshot 17](https://cloud.githubusercontent.com/assets/16765805/20563288/f245b20a-b1ad-11e6-9d65-4b47baef35ef.png)

[2016-11-24 10:23] Orbiter opened #29 "Create a Console Rule Learning App"
We want to be able to make it easy to create new console rules. Those rules are the method to attach external knowledge to susi. To check and store new console rules, there is now the rule learning backend api, the details are described here: https://github.com/fossasia/susi_server/blob/development/src/org/loklak/api/learning/ConsoleLearning.java#L45-L163

To store a new console rule, the user has

[2016-11-24 10:34] daminisatya commented on #29
@Orbiter Is this issue open to everyone? Or a GCI Task?

[2016-11-24 10:43] mariobehling commented on #29
Open to anyone. It might be useful to split it into sub-issues once a basic version is there.

[2016-11-24 10:48] daminisatya commented on #29
Cool, I would like to work on the basic outline for this.

[2016-11-24 13:38] Orbiter commented on #28
fixed this in https://github.com/fossasia/susi_server/commit/5799e5786242272198090ef170db43704a9c6899

[2016-11-24 13:38] #28 closed

[2016-11-25 21:58] Orbiter commented on #26
should it be possible to gain access to historic data (i.e. edited rules) when an account is re-created for the same user?

[2016-11-25 22:36] mariobehling commented on #26
Not sure. Maybe yes.

[2016-11-26 09:00] mariobehling opened #30 "Generate a documentation site from the md files in a gh-pages branch"
The idea is to have one stop resource for Susi tech questions at http://dev.asksusi.com

Currently there are two places with resources for the server:
1. The Readme.md https://github.com/fossasia/susi_server/blob/development/README.md
2. The docs folder: https://github.com/fossasia/susi_server/tree/development/docs

Please autogenerate a simple documentation site on each new commit in the gh-pages

[2016-11-26 13:23] Orbiter commented on #26
implemented with https://github.com/fossasia/susi_server/commit/a2a6150e40dde14f3122625e20d8cbbb7a8d5e14

This does not delete the assigned permissions, not the accounting data and not the accumulated personal log (susi variables) and the edited rules. If the user creates the account again, the values are still there.

[2016-11-26 13:23] #26 closed

[2016-11-26 13:23] Orbiter commented on #26
can be tested on the 'log in' page within the app range

[2016-11-27 07:56] Orbiter commented on #29
We would like to have GCI tasks for students to create console rules using this feature. I don't think that the GUI for this back-end is very complex. The complexity is only to understand what it means. The App itself is probably a very easy thing.

[2016-11-27 08:01] daminisatya commented on #29
@Orbiter i think we should tag this for GCI.

[2016-11-29 15:21] vivekkiran opened #31 "Issue running susi server"
I am unable to run susi server, I have followed the procedures mentioned in the Readme. I have built it using gradle.

Here are the logs.
Viveks-MacBook-Pro:bin devenv$ ./start.sh
susi detected that you did not yet run the installation wizard.
It let's you setup an administrator account and a number of settings, but is not mandatory.
You can manually start it by running bin/installation.sh
startin

[2016-12-03 21:29] samsruti commented on #25
@daminisatya I would like to work on this task.

[2016-12-03 21:56] samsruti opened #32 "Susi Server Generic Installation in Windows"
Installation on Windows using GitBash.

I had few errors when I try to run the generic installation steps in windows terminal. But later I found a simple solution from a closed issue which could make it easier to install.

Build using "`ant jar"
Run server using "`java -jar dist/susiserver.jar"

@mariobehling @daminisatya I would like to make a documentation on this. It may be helpful for others t

[2016-12-04 05:58] #32 closed

[2016-12-04 06:01] jig08 commented on #25
@samsruti Sure, go ahead.

@KukkadapuSushma Any updates on this ?

[2016-12-04 06:32] samsruti commented on #25
@mariobehling What are the 'Account Apps'? Do you mean to say that the Apps that user uploaded by himself/herself, i.e The personal apps?

[2016-12-04 11:32] KukkadapuSushma commented on #25
@jig08 yes I have started working on it.

[2016-12-04 12:00] fatimarafiqui opened #34 "Susi server not replying appropriately."
Susi's replies are not apt to many questions. Sometimes it throws adult content like the one I have shown in the snap.

<img width="280" alt="screen shot 2016-12-04 at 17 19 55" src="https://cloud.githubusercontent.com/assets/13470643/20865986/0f40be94-ba47-11e6-9345-54d6aa0c8aeb.png">

[2016-12-04 13:51] samsruti commented on #25
@KukkadapuSushma what are the implementations you have done yet. So that I can start my work excluding those?

[2016-12-04 14:40] daminisatya commented on #25
@samsruti May be let's divide the work! :)
You take up the first four and @KukkadapuSushma will take up the last four. I guess she started with deleting the apps.

Good to see the collaborative work :)

[2016-12-05 09:43] samsruti commented on #25
@daminisatya I am stuck in here: Take out slug "/apps/". Instead of http://api.asksusi.com/apps/signup/ change to http://api.asksusi.com/signup/

This could be by shifting the apps into the /html/ directory. So I would like if you can assign this to someone better. Since I got the top 4 i could fixed only 2 :)
Here is the pull request:  https://github.com/fossasia/susi_server/pull/36

[2016-12-05 11:02] Orbiter commented on #34
well that answer comes from urbandictionary.
We had already many complaints about those results.
So I remove that rule: https://github.com/fossasia/susi_server/commit/da1f08f5b73c04812b67c90b389760fe4e01d3a4

[2016-12-05 11:02] #34 closed

[2016-12-05 12:27] KukkadapuSushma commented on #25
I am done with partially half of my tasks, would deploy to development once after i finish completely @daminisatya

[2016-12-06 04:48] KukkadapuSushma commented on #25
Delete apps: 1) Boilerplate, 2) One-Click Deployment, 3) Web Scraper -- this task also makes "Demo" & "Peers API" on left navigation menu bar gets removed. Because "Demo" has -> "1)Boiler Plate and so other fields......  So, is that the way i have to remove them, or its fine?!?  @mariobehling

[2016-12-06 07:02] vivekkiran commented on #31
@mariobehling @daminisatya Please help!

[2016-12-06 15:35] KukkadapuSushma commented on #25
@daminisatya I am stuck in here: 6) Make accounting options (accounts apps) into a simple list of items (instead of app boxes)
and
"Changing background of apps display area to WHITE"

 So I would like if you can assign this to someone better. Since I got the last 4 i could fix few:)
Here is the pull request: #38

[2016-12-07 08:28] vivekkiran opened #39 "Universal Build System, Platform Independent Setup Instructions and Repository Cleanup"
@mariobehling @daminisatya @Orbiter
I am working on to migrate the whole project build from ant to gradle based solution completely which would simplify lot of things for environment setup. Instead of having separate setup instructions for Windows, Mac and Linux, we can have a universal system, which works on any environment with least setup, all the user needs is gradle and jdk, thats it...
then

[2016-12-07 10:19] mariobehling commented on #39
Awesome! Keep it up!

[2016-12-07 13:02] Orbiter commented on #39
@vivekkiran yes that is a good idea, please do that!
Question: how can we purge the legacy libraries from loklak (i.e. elasticsearch, lucene etc) which are not used here?

[2016-12-07 13:03] Orbiter commented on #31
maybe a problem with the main branch. I just merged everything from development to main, please try again.

[2016-12-07 13:04] Orbiter commented on #29
hi Damini, whats the status here?

[2016-12-07 15:18] daminisatya commented on #29
@Orbiter I havent started on it yet. Will send the updated code this weekend.

[2016-12-07 18:32] vivekkiran commented on #39
@Orbiter I have purged all the legacy libraries, now the project has only the libraries which are necessary, there where around 75 libraries which were there and most of them are not being used anywhere I got it down to 31 libraries even in that some of them are not needed but they are referenced in the project so I am not removing them as of now since they may need some refactoring. And I am also

[2016-12-07 18:32] vivekkiran commented on #39
@Orbiter I have purged all the legacy libraries, now the project has only the libraries which are necessary, there where around 75 libraries which were there and most of them are not being used anywhere I got it down to 31 libraries even in that some of them are not needed but they are referenced in the project so I am not removing them as of now since they may need some refactoring. And I am also

[2016-12-07 21:53] vedantrathore commented on #23
@mariobehling can I work on this, I'll try to do it and post here or the gitter channel If I run into any issues.

[2016-12-08 00:02] BrainBuzzer commented on #30
It is supposed to start from scratch then. Please create a new repo with dev.asksusi.com

[2016-12-08 01:24] BrainBuzzer commented on #29
I'm on it.

[2016-12-08 02:01] daminisatya commented on #29
@BrainBuzzer sure assigning it to you. Any help you can comment here.

[2016-12-08 13:29] mariobehling commented on #30
Please put it into a gh-pages branch of this repository.

[2016-12-08 13:32] mariobehling commented on #23
@vedantrathore Yes, cool. Zulip recently brought out some documentation: Instructions for all integrations are at https://github.com/zulip/zulip-gci/blob/master/tasks/webhook-integrations.md.

[2016-12-08 21:52] vivekkiran commented on #39
@Orbiter @mariobehling there has been good progress and I am almost there, there is just 1 blocker I am having right now I need this file susi_cognition_boilerplate.json.example , normally it should have been in https://github.com/fossasia/susi_server/tree/development/conf/susi but it isn't there. Please Help!

[2016-12-09 05:58] Orbiter commented on #39
ah, sorry, yes just commited that: https://github.com/fossasia/susi_server/commit/819a85d8c82e8cff13c838208323b0ed9bbf6985

[2016-12-13 02:41] #29 closed

[2016-12-14 13:06] BrainBuzzer opened #44 "Use AJAX for Console Rule"
The idea is to use AJAX with console rule app so that all things would be made asynchronous. Currently, it redirects to other links and does not do everything on same page.

[2016-12-14 13:13] #7 closed

[2016-12-16 12:54] BrainBuzzer opened #46 "Add Private API key"
@mariobehling Will you please run this command on your system to remove travis errors.

    travis encrypt $(heroku auth:token) --add deploy.api_key

This is a reason why travis build is failing.

[2016-12-17 11:22] adarsh-ideal commented on #30
@mariobehling I want to work on this. Please allow me to do that. I'l create a new gh-pages repository (it doesn't have one yet) for this on my forked repo. But then it will display the Readme and other instructions in docs folder of gh-pages branch instead of development branch. Is that okay?

[2016-12-17 13:40] adarsh-ideal commented on #30
@mariobehling Can't wait for your reply. I'm working on this.
Please create a new gh-pages branch to merge my changes.

[2016-12-17 14:31] mariobehling commented on #30
Done. Created a gh-pages branch.

Please delete the content and make a PR with your changes. Thanks!

[2016-12-17 14:43] adarsh-ideal commented on #30
@mariobehling Thanks for creating the branch.
Should I just keep the Readme and docs folder, this branch is only for infromation and nothing else, isn't it.
I have done changes and it's available on my repo: https://adarsh-ideal.github.io/susi_server/
I'll make the PR after deleting all the contents except the required .md files. I haven't deleted them yet, just wanted to show you first.

[2016-12-17 15:16] mariobehling commented on #30
@adarsh-ideal Thanks.

The goal is to generate the site from the Readme.md files in the development branch on each PR. Could you implement this? Cheers.

[2016-12-18 10:33] mariobehling commented on #46
@BrainBuzzer Thank you!

@Orbiter I think this would be rather you.

[2016-12-18 18:01] adarsh-ideal commented on #30
@mariobehling I think this issue can be closed now. Or there is something else left?

[2016-12-19 12:19] BrainBuzzer opened #48 "Theme for Documentation"
Documentation for susi is being served now from `gh-pages` branch. I am currently creating a theme for documentation is usable for documenting all fossasia projects. For that I need a new repo.

It is a jekyll theme.

@mariobehling @hpdang @daminisatya.

[2016-12-19 12:23] BrainBuzzer commented on #48
It is just mendatory. If we want theme to be available to public.

[2016-12-21 12:48] BrainBuzzer opened #51 "Use Couscous for Documentation"
Currently, documentation is built with jekyll which makes us hard to put the directory structure. There is a library on github called [Couscous ](https://github.com/CouscousPHP/Couscous) which is built specifically for documentation. I guess it would be good if we use it.

[2016-12-21 12:49] BrainBuzzer commented on #48
Theme is added.

[2016-12-21 12:49] #48 closed

[2016-12-21 12:53] BrainBuzzer commented on #27
https://raw.githubusercontent.com/fossasia/susi_server/2f8184b2ba1c1c7dc4c48f051aac3182bec0a5ef/conf/susi/susi_cognition_boilerplate.json.example

Save this file in your folder `/conf/susi/` and you will be ready to go.

[2016-12-22 02:50] dexta11 commented on #27
Thank You.. :)

On Wed, Dec 21, 2016 at 6:23 PM, Aditya Giri <notifications@github.com>
wrote:

[2016-12-22 07:27] jig08 commented on #27
@BrainBuzzer @dexta11 Issue resolved ?

[2016-12-22 07:36] dexta11 commented on #27
No still getting same error.

On 22-Dec-2016 12:57 pm, "Jigyasa Grover" <notifications@github.com> wrote:

[2016-12-24 17:44] BrainBuzzer opened #52 "Setup proper doc routes."
Currently the routing in documentation takes to a path which actually exists but at a different location. The routes take us directly to root directory whereas they should be taken to `/susi_server`

[2016-12-25 10:17] jig08 commented on #52
@BrainBuzzer Like to take this up ?

[2016-12-25 10:24] BrainBuzzer commented on #52
Nah. Let's leave that to some other student in GCI

[2016-12-26 19:16] samsruti opened #53 "Critical: Most of Susi Commands are not executing properly"
@mariobehling
Expect the general commands, Twitter/Loklak, RSS Feeds, Events, Wordpress, Github, Instagram, Date/Time, Wikipedia, Quora are not executing properly.
Here is the list of commands:
https://github.com/fossasia/susi_server/blob/master/docs/AskSUSI.md

**12:40 AM, Today     you**
Hello
 **Susi 12:40 AM, Today**
Hi, I'm Susi
**12:40 AM, Today     you**
 How many times did melaniatrump get

[2016-12-28 20:25] samsruti opened #54 "Arithmetic of numbers are not correct in http://api.asksusi.com but in localhost all working fine"
**Actual Behavior**
Ask: 5+3
Response: Love you guys &lt;3 that stream was awesome lol

**Expected Behavior**
Ask: 5+3
Response: 8

**API Console**
{
  "query": "5+3",
  "client_id": "aG9zdF8xMDEuNjMuMjUzLjkx",
  "query_date": "2016-12-28T20:22:56.720Z",
  "answer_date": "2016-12-28T20:22:59.394Z",
  "answer_time": 2674,
  "count": 1,
  "answers": [{
    "data": [
      {
        "text": "Love you

[2016-12-29 05:23] dexta11 commented on #27
issue resolved thank you.:)

On Thu, Dec 22, 2016 at 1:06 PM, vartika singh <vartika95@gmail.com> wrote:

[2016-12-30 05:15] Abhi2424shek commented on #30
Is this being auto generated for each commit?

[2016-12-30 09:41] BrainBuzzer commented on #30
No. We have to edit the documentation separately.

[2016-12-30 09:55] BrainBuzzer opened #56 "Fix docs on mobile"
Currently, documentation part is created with semantic ui. The secondary menu which is a list is not responsive on mobile. So on mobile, that menu should be hidden showing a sidebar menu as like in semantic ui docs.

![](http://i.imgur.com/BukU8t3.png)

Reference: http://semantic-ui.com/modules/sidebar.html
http://semantic-ui.com/collections/grid.html -- check responsive grid part which explains h

[2016-12-30 11:19] Abhi2424shek commented on #30
@mariobehling @BrainBuzzer can I make it auto-generate then?

[2016-12-30 12:59] BrainBuzzer commented on #30
Go ahead

[2017-01-01 23:57] #52 closed

[2017-01-02 00:01] mariobehling commented on #30
This issue is not solved. The gh-pages branch should be auto-generated from the md files in the development branch on each commit.

[2017-01-02 00:13] adarsh-ideal commented on #30
@mariobehling Please check the information you gave previously "Please autogenerate a simple documentation site on each new commit in the gh-pages branch" . It was gh-pages branch not development.

[2017-01-02 00:16] adarsh-ideal commented on #30
@mariobehling Sorry if I misunderstood.

[2017-01-02 00:18] adarsh-ideal commented on #30
@Abhi2424shek Are you working on it, tell me if you need some help. We could work on this together.

[2017-01-02 04:26] sanchittechnogeek opened #58 "DOCKERFILE: instead of cloning the susi_server it clones the loklak_server repo when building with docker."

[2017-01-02 04:53] #58 closed

[2017-01-02 05:08] Abhi2424shek commented on #46
@mariobehling it's been a while sir any updates

[2017-01-02 05:10] mariobehling opened #59 "Travis builds and Heroku are failing"
Travis logs below.

https://s3.amazonaws.com/archive.travis-ci.org/jobs/188168425/log.txt

travis_fold:start:worker_info
[0K[33;1mWorker information[0m
hostname: ip-10-12-11-188:bca33071-ea42-4a82-aab2-ef2fc161173f
version: v2.5.0-8-g19ea9c2 https://github.com/travis-ci/worker/tree/19ea9c20425c78100500c7cc935892b47024922c
instance: 7a20776:travis:java
startup: 534.583807ms
travis_fold:end:worke

[2017-01-02 06:56] Abhi2424shek commented on #30
@mariobehling or some other mentors can you add a variable named SOURCE_UPDATER in the Travis CI dashboard pls, the value of the secret variable will be given by me, when you are ready pls comment here.

[2017-01-02 08:42] Abhi2424shek commented on #30
@mariobehling here are two PRs for to close this issue #60 and #61 please review and merge.

[2017-01-02 09:50] #30 closed

[2017-01-02 10:12] BrainBuzzer commented on #59
This actually refers back to issue #46. The private key is still not added which is required by travis to make connection with heroku for automatic deployment.

[2017-01-02 11:51] Abhi2424shek commented on #59
Yep @mariobehling please fix issue #46

[2017-01-02 13:47] BrainBuzzer opened #62 "Create Desktop app for Susi with Electron"
Electron is nice library in order to develop the native web apps. I guess there should be a app for susi for desktop. I would like to work on it. Can anyone create a new repo for the app? @mariobehling @daminisatya @jig08 @Orbiter

[2017-01-02 14:01] mariobehling commented on #62
Great! https://github.com/fossasia/susi_desktop

[2017-01-03 10:50] ankitrgadiya commented on #62
@BrainBuzzer I'm also looking forward to learn about electron, If you can add a basic app to repo I can help with it.

[2017-01-03 13:44] BrainBuzzer commented on #59
Any updates?

[2017-01-03 13:48] ankitrgadiya commented on #62
@BrainBuzzer @mariobehling created basic app. [PR](https://github.com/fossasia/susi_desktop/pull/1)

[2017-01-03 14:14] #27 closed

[2017-01-03 15:00] #62 closed

[2017-01-03 15:12] Abhi2424shek opened #64 "Improve the gh-pagesUpdater script"
The gh-pages updater script can have more tweaking which would make it stable...

[2017-01-03 15:12] Abhi2424shek commented on #64
Solved it in PR #64

[2017-01-03 15:15] #64 closed

[2017-01-03 15:54] mariobehling opened #65 "Add Continuous Integration and automatically deploy Master branch to Google Cloud"
Please test app deploy it with Kubernetes on Google Cloud to a test account. Share your deployment with a link in the issue.

You need to sign up for Google cloud. There is a free tier to start (you might need a credit card to sign up). Once you have it running, please make a pull request with the changes.

[2017-01-03 21:32] Orbiter commented on #46
fixed in https://github.com/fossasia/susi_server/commit/32b42fd29c3fe6aadb888a04aa9903cf2ec6c62f

[2017-01-03 21:32] #46 closed

[2017-01-04 02:33] BrainBuzzer commented on #59
Issue is fixed. You may close it @mariobehling

[2017-01-04 05:56] #59 closed

[2017-01-04 12:02] Abhi2424shek opened #66 "Add susi-gh-bot as a collaborator"
To push the documentation to the gh-pages on each update the script gh-pagesUpdater.sh uses a bot called @susi-gh-bot, to push the changes back as a commit it would need write access so please add it as a collaborator.

Mentors this one is for you and I hope you have done what I requested you to do in the task in the task I had done earlier? [Hint: Adding an environment variable to the Travis dash

[2017-01-05 09:02] samsruti commented on #54
Thanks, It is resolved now :)

[2017-01-05 09:02] #54 closed

[2017-01-05 11:26] hoangvanthien commented on #65
Why can't I access http://test.asksusi.com ?

[2017-01-05 11:34] mariobehling commented on #65
@hoangvanthien You need to first deploy the system to Google and then talk to admin to set up test.asksusi.com.

[2017-01-07 05:23] Abhi2424shek commented on #66
Any updates guys

[2017-01-08 03:21] dexta11 commented on #31
https://raw.githubusercontent.com/fossasia/susi_server/2f8184b2ba1c1c7dc4c48f051aac3182bec0a5ef/conf/susi/susi_cognition_boilerplate.json.example

Save this file in your folder /conf/susi/ and you will be ready to go.

[2017-01-10 17:56] meets2tushar opened #68 "Problem while pushing the app on Heroku"
Following this [readme](https://github.com/fossasia/susi_server/blob/development/docs/installation_heroku.md) , while pushing on Heroku  `git push heroku master` ;  it gives the error as:
error: src refspec master does not match any.
error: failed to push some refs to 'https://git.heroku.com/sleepy-ridge-23846.git'

Then while using `git push heroku HEAD:master` ;  it gets pushed to Heroku.
[Got_i

[2017-01-12 17:22] atiabjobayer commented on #7
Susi-server can automatically be deployed through heroku now :smile:

[2017-01-13 13:33] Abhi2424shek commented on #68
@meets2tushar did you properly add the remote.

[2017-01-13 13:34] Abhi2424shek commented on #66
I ask for updates if any.

[2017-01-13 13:35] meets2tushar commented on #68
@Abhi2424shek I checked using git remote -v
It gives the Heroku URL

[2017-01-13 13:42] Abhi2424shek commented on #68
@meets2tushar can you try again pls (from 0 to 1)

[2017-01-13 13:43] Abhi2424shek commented on #65
Can I work at this @mariobehling

[2017-01-13 13:54] meets2tushar commented on #68
@Abhi2424shek
I tried it two times not only with susi_server  but also with loklak_server and this is common in both.

[2017-01-13 14:04] Abhi2424shek commented on #68
give me the output of: `git remote -v` pls

[2017-01-13 14:16] meets2tushar commented on #68
same with open-event-webapp too
here is the output
`heroku	https://git.heroku.com/stormy-dusk-25339.git (fetch)
 heroku	https://git.heroku.com/stormy-dusk-25339.git (push)
 origin	https://github.com/meets2tushar/open-event-webapp.git (fetch)
 origin	https://github.com/meets2tushar/open-event-webapp.git (push)`

[2017-01-13 14:18] meets2tushar commented on #68
But in open-event-webapp it mention as
'git push heroku development:master'
`git push heroku master`

[2017-01-13 14:19] Abhi2424shek commented on #68
@meets2tushar which branch are you in?

[2017-01-13 14:32] meets2tushar commented on #68
@Abhi2424shek  I am in master branch ; it gets warning in different branch.

[2017-01-13 14:59] Abhi2424shek commented on #68
@meets2tushar yep I know that just wanted to confirm, let me try running it locally

[2017-01-13 22:49] mariobehling commented on #66
Was done days ago.

[2017-01-13 22:49] #66 closed

[2017-01-15 17:13] mariobehling opened #69 "Implement Swagger and generate static version in gh-pages"
[Swagger](http://swagger.io/) is a great way to document APIs.
* [ ] Please add Swagger to the system at `/api/v1/`
* [ ] On pull requests also generate a static version in the pages branch at http://dev.asksusi.com/api/v1/

[2017-01-15 17:15] mariobehling opened #70 "Implement documentation site using travis and sphinx"
It seems to work out well with the site generated for the loklak documentation.

Please have a look at the script (https://github.com/loklak/loklak_server/blob/development/.utility/push-docs-to-gh-pages.sh) and docs site and duplicate the way it is done here.

[2017-01-17 05:09] Abhi2424shek commented on #65
@mariobehling @jig08 can someone create the google api credentials and put it in the repo as stated in the tutorial as I don't have access to the Google cloud project

[2017-01-17 19:37] the-dagger opened #71 "User verification email is marked as spam"
While trying to sign up to susi with a new email, the confirmation email was in my spam box.
Tried it again with some other emails, same thing happened with them too.

I faced a similar issue while I was using sendgrid for sending emails on the opev-android project where wrong security rules for the root user caused this issue.
@Orbiter @daminisatya could you have a look at what might be causing t

[2017-01-18 13:49] Abhi2424shek commented on #71
Do we have the SPF and DKIM support for sending the emails, using these technologies would surely get the emails out of spam folder.

[2017-01-19 12:04] Abhi2424shek commented on #65
I am still on it but require help from you guys, can you help @mariobehling by doing as stated above? Or give me access to the Google cloud terminal.

[2017-01-27 01:54] Abhi2424shek commented on #71
@the-dagger updates.

[2017-01-27 01:56] Abhi2424shek commented on #25
Updates guys

[2017-01-27 06:22] the-dagger commented on #71
Probably @daminisatya would be the best one to take a look at this.

On Friday, January 27, 2017, Abishek V Ashok <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-01-27 11:53] Abhi2424shek commented on #70
@mariobehling the @susi-gh-bit would work from the next merged pr

[2017-01-27 14:20] KukkadapuSushma commented on #25
I am not sure whether i can still continue with this, someone else can take up further.

[2017-01-27 19:30] saketkumar95 opened #72 "Adding support of emoji feature in susi server"
Currently susi server doesn't have the support to emoji characters. We can add feature as most of the have this feature.

[2017-01-27 22:36] jig08 commented on #72
Closing this, duplicate of Issue https://github.com/fossasia/susi_server/issues/3

[2017-01-27 22:36] #72 closed

[2017-01-27 22:42] saketkumar95 commented on #72
@jig08 i was asked [here](https://github.com/fossasia/susi_android/issues/462) to open this issue. :)

[2017-01-27 22:43] jig08 commented on #72
Pls follow up on the previous one then :)

[2017-01-28 07:48] Abhi2424shek commented on #3
@jig08 then consider opening it?

[2017-01-31 18:47] mariobehling opened #73 "Enhance the Console Rule Learning App for Susi Server"
A basic console learning app is implemented in the server already (see [here](http://susi-server.herokuapp.com/apps/consolerule/)). The goal of this project is to make it easy now to create new console rules a) to connect new APIs to Susi and b) to add the rules itself.

The rules are the method to attach external knowledge to Susi. To check and store new console rules, there is now the rule learn

[2017-02-05 16:53] AnaghHegde commented on #6
@mariobehling Can i work on this ?.I am new here done with my setup.

[2017-02-06 10:55] AnaghHegde commented on #23
@mariobehling Is this still open?.Can i work on this ?

[2017-02-07 16:09] Abhi2424shek commented on #3
Well is anyone working on it? Consider updating the description?

[2017-02-07 16:10] Abhi2424shek commented on #6
@AnaghHegde go forward pls :)

[2017-02-07 16:11] Abhi2424shek commented on #70
@mariobehling can we close this as the @susi-gh-bot would work on? Is this still needed?

[2017-02-07 16:45] AnaghHegde opened #74 "Create a contributor-guide page"
Currently `README.md` page contains lot of information( Continuing from #6  ) - also contains some information related to contributors guide but its not solid. So its better to divide the `README.md` into :

1.contributor-guide page and give a link from readme to contributor-guide page

   - This contains all the contents under the sub head `How to compile using Gradle?` and
      `How do I instal

[2017-02-08 01:48] AnaghHegde commented on #74
@Abhi2424shek What's your opinion on this?. Shall i submit a PR?.

[2017-02-08 09:50] daminisatya commented on #74
@AnaghHegde Looks great. Please create a PR, and then we can review!

[2017-02-08 10:18] Abhi2424shek commented on #74
@AnaghHegde LGTM go on pls, we await your PR

[2017-02-08 16:47] addiittya2006 commented on #3
We already have UTF-8 Support and all the emoji characters are unicode but The issue was proposed to parse the emoji as ascii text and then check rules against that.
@Orbiter @jig08 If you consider this a valid proposal, consider this otherwise the issue can be closed.
😕 -> 'confused face' -> rule confused
😁 -> 'grinning face with smiling eyes' -> rule extremely happy

[2017-02-08 17:36] daminisatya commented on #3
@addiittya2006 Valid, go ahead and create rules for these emoji texts. Create an initial rule set and a PR. we will review it.

[2017-02-09 00:05] Orbiter opened #76 "move to gradle build process"
Today susi builds are based on libraries we ship within the git repository.
We should use gradle builds exclusive in the future.

We already have a gradle build which uses these libraries
[code]
We should move to a build using maven libraries like
[code]

also, we should use gradle run as start method.
All cloud deployment options must be migrated to use the gradle build process as well.

If this

[2017-02-09 00:08] Orbiter commented on #76
please see a first attempt in https://github.com/fossasia/susi_server/pull/42 which provides already a gradle build. Don't take all that code because it was a 'change everything' job which is not wanted here. Just concentrate on removing ant and replacing it with gradle.

The result should be, that a 'gradle run' is possible.

[2017-02-09 07:33] AnaghHegde commented on #76
@Orbiter can i work on this ?

[2017-02-09 09:26] Abhi2424shek commented on #76
@AnaghHegde sure, make a try

[2017-02-09 10:05] #74 closed

[2017-02-09 16:00] AnaghHegde opened #77 "Add details regarding workflow"
Continuing from #6 , workflow of the project has to be added to the new file. It includes

* Coding style (Standard Practice)

* Branch Policy

* Squashing of commits

[2017-02-09 16:01] AnaghHegde commented on #77
@daminisatya @Abhi2424shek Any inputs ?.

[2017-02-10 18:05] jig08 commented on #77
@AnaghHegde If these arent present already, pls go ahead.

[2017-02-10 18:06] jig08 commented on #3
@addiittya2006 Sounds good. As @daminisatya create an initial PR for review so that we can take this forward :)

[2017-02-11 10:58] yukiisbored opened #78 "Gradle: Replace source folder workaround"
Instead of moving the source folder into Gradle's default, we can change the source set location into what we currently have instead.

[2017-02-11 14:43] yukiisbored opened #79 "Gradle: Define source compatibility"
Gradle doesn't define source compatibility like ant, It's a good idea to implement it to Gradle.

[2017-02-11 15:38] yukiisbored opened #80 "Gradle: Declare project name on settings.gradle"
Currently, susi_server doesn't have a `settings.gradle` file. Typically the `settings.gradle` is used to define the project name and sub-projects. Since this is a single project, the name should be declared to maintain consistency because by default it assumes the working directory is the project name.

[2017-02-11 15:40] yukiisbored opened #81 "Gradle: Add Gradle Wrapper"
Gradle wrappers is one of the important features of Gradle. With Gradle wrappers, Users and Developers who doesn't have gradle installed on their system can use gradle via the wrapper. This could help increase the user base, because the only thing they require is the Java Development Kit which is easy to install on most OSes

[2017-02-11 16:22] yukiisbored opened #82 "Gradle: Migrate local dependencies to remote dependencies"
Currently, the project uses local dependencies which are contained inside the lib folder. The problem with this method is the fact it makes the repository huge due because `git` isn't good at handling binary files.

[2017-02-12 03:51] yukiisbored opened #83 "Gradle: Generate Uber Jar"
Generating an Uber Jar helps migration from Ant to Gradle and allow us to delete the lib folder. It can also help being able to distribute binary package of susi.

[2017-02-12 14:08] mariobehling opened #84 "Delete unused files in html folder"
Please do the following:
* [ ] delete `/html/apps` except the accounting apps for the moment as they are not working on the apps page. We are hosting apps on http://apps.loklak.org already
* [ ] delete `/html/artwork`. It has been moved to its own repo already https://github.com/loklak/loklak_artwork
* [ ] delete other unused files, e.g. javadoc.html is already in dev.loklak.org, so not needed her

[2017-02-12 14:09] mariobehling commented on #84
Just did it.

[2017-02-12 14:09] #84 closed

[2017-02-12 14:59] mariobehling opened #85 "Set up automatic deployment to Google Cloud"
There should be two automatic deployments to Google cloud
a) from the development branch and
b) from the master branch.

We can do in-depth testing this way. As the projects advances further, it is also possible to add a staging branch.

[2017-02-13 00:37] Abhi2424shek commented on #85
Duplicate of #65 close anyone of them pls. Thank you.

[2017-02-13 13:40] AnaghHegde commented on #77
@daminisatya What all should i have to include in the coding policy or standards ?.

[2017-02-13 14:01] Abhi2424shek commented on #77
Commenting on issues and informing the approach is one of the best fossasia policies. Take a look at the contributing.md files in the various repositories. @AnaghHegde

[2017-02-13 14:18] AnaghHegde commented on #77
@Abhi2424shek Right now i am having exmas so i can't spend much time. Once they get over(4-5days) i will start working on this. Sorry for the delay.

[2017-02-13 19:53] djmgit opened #87 "Remove RSS feed option and info text from mobile version"
The RSS feed option is not present in normal version but in mobile version it is present although it is not functioning. In mobile function get json data button is also not working and info text is getting displayed which is not applicable for susi_server.The info text is not present in normal version.

[2017-02-15 09:57] addiittya2006 commented on #3
Ok. As Soon as I am available to write code.

[2017-02-17 17:24] AnaghHegde commented on #6
@Abhi2424shek @mariobehling The readme files contains some links of dev.loklak.org/* . Can you guys please help me with the proper links. So that i can replace it with the new one?

[2017-02-18 08:19] #87 closed

[2017-02-18 12:58] yukiisbored opened #90 "Decrease redundant code on shell scripts"
The shell scripts to start susi has a lot of duplicate code. This can be simplified by separating the same lines into it's own file.

[2017-02-18 21:18] #76 closed

[2017-02-18 21:18] #78 closed

[2017-02-18 21:18] #79 closed

[2017-02-18 21:18] #80 closed

[2017-02-18 21:18] #81 closed

[2017-02-18 21:18] #82 closed

[2017-02-18 21:18] #83 closed

[2017-02-18 21:18] #90 closed

[2017-02-19 09:57] #77 closed

[2017-02-20 15:28] shivenmian commented on #71
Nope, it's a problem with the servlet.

[2017-02-21 11:22] Abhi2424shek commented on #65
@jig08bi can't proceed with @mariobehling collaborating 😢

[2017-02-22 03:55] mariobehling commented on #77
Sorry, as we don't have a huge project, we should keep basic info in the Readme.md. Please compare to other FOSSASIA projects e.g. Open Event Orga Server.

[2017-02-22 10:32] AnaghHegde commented on #77
@mariobehling ok. Thanks for pointing it out.

[2017-02-23 13:41] AnaghHegde commented on #51
@BrainBuzzer Looks interesting can i work on this ?.

[2017-02-24 14:20] AnaghHegde opened #92 "Deployment buttons not working on all platforms"
Continuing from [loklak/loklak_server #1001](https://github.com/loklak/loklak_server/issues/1001).

[2017-02-24 14:30] AnaghHegde commented on #92
I think the cause for thisgoes something like this.

According to docker documentation

`You must be logged into the docker account before trying to deploy. Otherwise you will get the error 404 not found`. For more information check [this.](https://docs.docker.com/docker-cloud/apps/deploy-to-cloud-btn/) This solves docker problem.

From other platforms like dev.loklak.org its not possible to deplo

[2017-02-24 15:28] Abhi2424shek commented on #92
@AnaghHegde heroku should be deployed not from the gh-pages branch, so that solved the problem :) for heroku, we really need heroku.

[2017-02-24 15:30] AnaghHegde commented on #92
@Abhi2424shek  Can you be more specific?. I didn't get your point.

[2017-02-25 08:03] Abhi2424shek commented on #92
Heroku is not deployed from the gh-pages branch so the branch need not have the app.json file.

[2017-02-27 14:58] dynamitechetan opened #94 "Email Verification Success Response in JSON"
Wouldn't it be better to show user a simple page that his email is verified instead of JSON response.

![Screenshot](https://cloud.githubusercontent.com/assets/16765805/20642288/62d0dc86-b431-11e6-89e3-11c9f6cc52ca.png)

[2017-02-28 16:54] Abhi2424shek commented on #69
The loklak repository is autogenerated

[2017-03-02 09:50] mariobehling commented on #70
@Abhi2424shek http://dev.asksusi.com does not work as expected. Right now is only displays the Readme.md page. It does not generate a full site with search features and subpages from the docs branch. This issue is open and we need help solving it.

[2017-03-02 09:52] #92 closed

[2017-03-04 11:44] aksh98 commented on #71
I would like to work on this. Could you guide me a little bit.

[2017-03-05 09:20] Orbiter commented on #71
Thats strange, I don't see a chance to change this without more information. You must investigate why your spam filter recognizes the confirmation mail as spam. Is it the sender address? Is it a bayes filter which is triggered by some keywords in the mail text?

[2017-03-05 09:42] aksh98 commented on #71
I reproduced the issue and it went into my inbox.
It works fine for gmail, I tried it for two mail IDs'.
Was it for a specific email like yahoo or hotmail ?

[2017-03-05 10:08] aksh98 opened #96 "Implement email authentication"
[DKIM](https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail) can be used to authenticate mails sent by the [EmailHandler](https://github.com/fossasia/susi_server/blob/development/src/org/loklak/EmailHandler.java).

This can be a fix to Issue #71. A Java API for DKIM implementation is also available [here](https://sourceforge.net/projects/dkim-javamail/).

@Orbiter @mariobehling should I work o

[2017-03-05 10:17] shivenmian commented on #71
@Orbiter it's probably an issue with the email filter or something with the authentication. The text is fine. Check #96

[2017-03-05 10:22] the-dagger commented on #71
I tired this with gmail IDs.
I am not able to reproduce this now, it seems like there was some temporary issue with Auth.

[2017-03-05 10:50] aksh98 opened #97 "Rewrite EmailHandler"
[Simple JavaMail](http://www.simplejavamail.org/#/features) is a better and more lightweight alternative to the JavaMail API used currently in EmailHandler. It has validation checks and DKIM built in, and is simpler to use, so rewriting the current EmailHandler code with this API will add more features.

@Orbiter @mariobehling should I work on this? We could also possibly close #96 in favour of th

[2017-03-05 10:52] aksh98 commented on #96
Closed in favour of #97

[2017-03-05 10:52] #96 closed

[2017-03-05 11:13] Orbiter commented on #97
can you do the Simple JavaMail integration in such a way that the existing `smtp.` properties can be used, so a re-configuration is not necessary?

[2017-03-05 11:58] aksh98 commented on #97
Sure ! I ll work on this :)

[2017-03-07 11:03] smokingwheels commented on #53
I am not really to sure about this problem yet, but a clue today I uncovered a minor problem, if you perform a wget to the API like below it throws a spanner in the works for History of the results in the output.

wget -T 1 --no-cookies --no-cache "http://localhost:4000/susi/chat.json?q=something with space URL"
wget -T 1 --referer=http://10.0.0.10 --no-cookies --no-cache "http://localhost:4000/su

[2017-03-07 12:57] AnaghHegde commented on #44
@BrainBuzzer I am interested in this. Can you brief me a little. I will work on this.

[2017-03-07 14:16] Abhi2424shek commented on #44
Sure @AnaghHedge

[2017-03-07 20:30] aksh98 commented on #94
I'm working on this.

[2017-03-08 14:25] AnaghHegde commented on #44
@Abhi2424shek Can you please brief me a little about the issue.

[2017-03-08 16:37] BrainBuzzer commented on #44
Currently, the problem is that when you go to console rule app, it redirects every time to API link showing JSON Code. That has to be replaced with Asynchronous code. Here are a few links regarding Console Rule app:
https://github.com/fossasia/susi_server/pull/41/files
https://github.com/fossasia/susi_server/issues/29

[2017-03-21 12:19] betterclever commented on #94
@dynamitechetan Isn't this response meant for Susi Apps? We utilize this on Android App. This is on purpose AFAIK.

[2017-03-23 15:41] Orbiter commented on #94
true, this is on purpose. Please create a Susi app for that

[2017-03-23 15:41] #94 closed

[2017-03-23 15:43] Orbiter commented on #71
I do not think that we can solve this. Marking of emails as spam is done outside of Susi and it depends on the rules of the spam filter. Anything that we could do here could a spammer do as well.

[2017-03-23 15:43] #71 closed

[2017-03-23 15:47] Orbiter commented on #53
most problems have been fixed. Questions that Susi cannot answer must be implemented as Susi Skill.
Please watch https://www.youtube.com/watch?v=EtKsjTR4ANI and https://www.youtube.com/watch?v=7U__K8yy1iY as an explanation on how to do that.

Text resources are here:

The Susi Skill language:
https://github.com/fossasia/susi_server/blob/development/docs/susi_skill_development_tutorial.md

How to d

[2017-03-23 15:47] #53 closed

[2017-03-23 15:48] Orbiter commented on #68
is there any update here?

[2017-03-24 21:52] mariobehling opened #98 "Add Info how to add questions about ioT to Susi documentation"
There have been question how Susi can query ioT devices. Please add this info to the tutorial.
https://github.com/fossasia/susi_server/blob/development/docs/susi_skill_development_tutorial.md

[2017-03-29 00:02] aviaryan commented on #70
@mariobehling There seems to be a PR available for it at #95 but it has conflicts. I have pinged the OP (@pri22296), waiting for their reply.

[2017-04-01 12:31] betterclever opened #100 "Proper Documentation for AskSusi API"
Proper Documentation for AskSusi API is not present currently.
Documentation will help application developers to easily integrate Susi in their projects.

[2017-04-02 07:47] pri22296 commented on #70
@mariobehling can we close this? PR #99 which solves this has has been merged successfully.

[2017-04-05 12:11] mariobehling opened #101 "Implement Etherpads with Access Restriction using the SUSI AI Accounting System"
Etherpads at http://dream.asksusi.com are a way to store personalized SUSI AI features. At the moment the Etherpad of SUSI is an open instance. Anyone who knows the name of the pad can edit a pad. Etherpad already has the feature to restrict access to pads to specific registered users. How can the SUSI Etherpad use the SUSI AI accounting system? The goal is to allow users to create Etherpads with

[2017-04-05 12:13] #85 closed

[2017-04-06 09:48] Abhi2424shek opened #102 "Broken readme"
The readme is broken and needs to be fixed. Only the top text are not being rendered properly.

[2017-04-08 17:00] Orbiter opened #104 "Wiki for Susi Skills Assessment"
dear @/all we need a permanent storage space for Susi Skills!

We currently have two locations: inside conf/susi of the susi_server repository and in the dream.asksusi.com dream-zone. Both are not suitable for a permanent user-generated skill collaboration space. The best place would be, to have skill groups within editable plain text files -- just like a wiki without any wikicode.

Therefore the

[2017-04-09 09:44] Abhi2424shek commented on #68
Can you test it, pinky please @Orbiter

[2017-04-09 09:49] jig08 commented on #102
@Abhi2424shek Closed the issue without merging the PR ?

[2017-04-09 10:24] #102 closed

[2017-04-10 01:48] meets2tushar commented on #68
@Abhi2424shek @Orbiter  Let me see it again

[2017-04-10 07:01] mayank408 commented on #68
@meets2tarun @Orbiter I am too facing the facing the same problem.

[2017-04-10 07:03] meets2tarun commented on #68
Let me to two reproduce same again

[2017-04-10 07:26] Abhi2424shek commented on #68
But `git push heroku HEAD:master` and git push heroku master` should be equal if you got a correct `.git/config` with the master pointing to `refs/heads/master`, what's your `.git/config` containing @mayank408 @meets2tarun

[2017-04-11 19:52] Orbiter commented on #100
wrap up of documentation requirements:

- [ ] show an image (by a given image URL)

- [ ] show a pie chart

- [ ] show a web search result (ask the client to perform the search)

- [ ] show a web search result (deliver the search result, just show it on the client)

- [ ] show rss feeds (very similar to a delivered web search result)

- [ ] show a table

- [ ] play a sound / a video on the client

[2017-04-12 16:14] uday96 commented on #44
Hey, I was able to implement ajax calls for the test and learn buttons in the console rule app to get the JSON code and display it in a div. But Im not able to test it giving valid field inputs.
Can you brief me about the fields and their inputs? @BrainBuzzer @mariobehling
![console_ajax](https://cloud.githubusercontent.com/assets/13276887/24967892/2c54134a-1fc9-11e7-9ef5-6571ef85176e.png)

[2017-04-12 21:30] Orbiter commented on #44
I don't understand what the original problem is, that shall be solved.

"The idea is to use AJAX "
...

The idea is, that we don't use AJAX. AJAX is XML+HTTP. We don't use any XML.

You are also addressing concurrency. Concurrency where?

[2017-04-12 21:33] Orbiter commented on #100
..and an architecture picture similar to https://docs.api.ai/docs/key-concepts

[2017-04-13 02:31] BrainBuzzer commented on #44
@Orbiter Even google says that. If we don't have any XML, why do we call it AJAX? It is currently moved to `fetch API` but still let me rephrase that for you.

The idea is to use the Asynchronous code in order to ensure we make the minimum amount of load time and a good UX. Currently, the page redirects every time a query is passed. But the thing is that this can be presented right in front of the

[2017-04-13 02:35] BrainBuzzer commented on #44
@uday96 perhaps #41 might help you a bit.

[2017-04-14 10:23] Orbiter opened #106 "Proper Naming of Susi Skill Concepts"
We need a good organization concept for new and stored skills. By definition, a 'skill' is a single conversation rule, like

[code]

For some applications, only a set of skills operate as a single expert entity. One example is the 'Geschenke' Expert System: https://github.com/fossasia/susi_server/blob/development/conf/susi/de_0810_ai_problem_solving_geschenke.txt

We also need a concept how to add

[2017-04-14 10:28] Orbiter opened #107 "Best Of All Possible Worlds: AI/Bot Evaluation and Cherry-Picking"
To be able to be competitive with other chatbots/AI systems, we should evaluate which other bots are there and pick the best parts out of them.
- Lets collect links and please
- add a note what is most noticeable about them.

[2017-04-14 10:29] Orbiter commented on #107
https://botsociety.io/
- nice UI to quickly define new skills

[2017-04-14 10:52] Orbiter commented on #106
Here is my proposal for a hierarchy:

[code]

[2017-04-15 15:14] mariobehling commented on #107
* http://rasa.ai
* https://mycroft.ai/ | https://github.com/MycroftAI/
* https://github.com/Melissa-AI

[2017-04-15 15:15] daminisatya commented on #107
https://api.ai/

[2017-04-15 15:21] sanchittechnogeek commented on #107
* wit.ai
* alicebot.org | works using AIML

[2017-04-15 23:59] mariobehling opened #108 "Login not possibly, Accounting buggy"
Android users have difficulties signing up. Please compare here https://github.com/fossasia/susi_android/issues/578

1. Signup link brings me to a JSON file.
2. Does not fetch email from the phone.
3. I get an email that I signed up for loklak. I signed up for SUSI AI!
4. Password does not work - cannot login.
5. Reset password still not working.

[2017-04-16 09:34] chiragw15 commented on #108
For the reset password feature, we are sending an email with link to change password, something like http://api.asksusi.com/apps/resetpass/index.html?token=oMmEJcQjNKYsbGnBMpMMXvcsjAyWv9 . But in android app we have a screen which asks for token id and new password like this -
![screenshot_20170416-145441](https://cloud.githubusercontent.com/assets/16978820/25070179/061cb90e-22b5-11e7-9a80-5f814b1

[2017-04-16 11:25] Orbiter commented on #100
documentation started in file https://github.com/fossasia/susi_server/blob/development/docs/susi_chat_api.md
(unfinished yet)

[2017-04-16 14:55] niccokunzmann opened #110 "Empty Query Creates Server Error"
When I ask nothing https://api.asksusi.com/susi/chat.json?q=
I get an Server Error.
I think, I would expect JSON.

[code]

[2017-04-16 17:46] mariobehling commented on #108
@chiragw15 The token idea was taken from other apps, but they only display a 4-6 character tokens.

I guess to make this usable, we should just follow 2.) for now. Thanks for pointing out the options!

[2017-04-16 17:55] chiragw15 commented on #108
Cool :+1: I'll make the issue in the susi-android repo regarding removing of forgot password screen and adding dialog box instead.

[2017-04-17 14:26] Orbiter opened #111 "Add servlet which lists all files in data/settings/"
access must be restricted to admin rights

[2017-04-17 14:27] Orbiter opened #112 "Add servlet which enables download and upload for all files in data/settings/"
access must be restricted to admin rights

[2017-04-18 08:45] Fluepke opened #113 "Add public transit to Susi AI"
Many public transit providers have open data portals offering realtime data. (E.g. for Berlin see [this](http://www.vbb.de/de/article/fahrplan/webservices/schnittstellen-fuer-webentwickler/5070.html)).
We should access this data directly or via a wrapper service to provide Susi users information about different means of transportation
Maybe the sourcecode from [transportr](https://github.com/grote

[2017-04-18 08:50] Fluepke commented on #113
@mariobehling suggested to implement this skill via [dream.asksusi.com](https://github.com/fossasia/susi_server/blob/development/docs/susi_skill_development_tutorial.md)
This would require to have an external API, that can provide the necessary data.
Another idea would be to implement this via a ConsoleService, but it might be problematic to include and distribute the necessary API keys.

[2017-04-18 09:12] mariobehling commented on #113
@Fluepke Let's do the lightweight approach first. "dream.asksusi.com" is not intended to be a way for implementation. The idea is to provide a setting to write skills and test them right away. Currently skills need to be added to the repository. We are planning to provide an easier way, but this is out of scope of this issue.

We really need developers to write skills and understand the flow. So,

[2017-04-18 11:43] sudheesh001 commented on #113
@Fluepke This definitely sounds like an interesting thing to do. The intention with susi is that others who might want to use this data can also integrate it. We can always use a whitelisted IP Address of the server to ensure that the API can be used between susi and the required service by distributing and installing a key on the servers but the intention is to work with open data.

Providing API

[2017-04-18 12:51] Orbiter commented on #106
We need 'hidden skills' to safely store console skills containing application keys. Where should we put that?

[2017-04-18 12:53] Orbiter commented on #113
This issue shows that one of the core requirements for a public storage place must be a concept to hide application keys.  I added that idea to https://github.com/fossasia/susi_server/issues/106#issuecomment-294828643

[2017-04-18 22:09] mariobehling commented on #107
* http://hackaday.com/2017/01/26/build-your-own-p-brain/
* https://github.com/patrickjquinn/P-Brain.ai/

[2017-04-19 05:48] tabesin commented on #107
Thanks for adding, main difference in better clarity and leanness of code base.

Practical use case https://www.data.gv.at/anwendungen/flux/

[2017-04-19 05:54] tabesin commented on #106
Distinguish between "persona" and "skill". A persona is a set of configuration items for instance packages of skills., configuration files, avatars etc.

[2017-04-19 06:18] tabesin commented on #100
Important use cases are product references e.g. links to amazon products and social meta tags/opengraph/twitter card/FB link posts.

For a model use case think of a set of skills that constitutes a persona which recommends you books.

[2017-04-19 06:29] tabesin opened #115 "Herokuapp automatic deployment down"
The herokuapp as referenced in https://github.com/fossasia/susi_server/blob/development/README.md is down.

"An automatic deployment from the development branch at GitHub is available for tests here https://susi-server.herokuapp.com "

[2017-04-19 06:32] tabesin opened #116 "Improve Skill tutorial"
Improve style and wording of Skill tutorial found at
https://github.com/fossasia/susi_server/edit/development/docs/susi_skill_development_tutorial.md

[2017-04-19 06:43] tabesin commented on #107
https://mumbrella.com.au/foxtel-message-launch-wentworth-rat-chatbox-share-show-secrets-439533

[2017-04-19 07:18] tabesin commented on #6
Remaining loklak references in the code base. [loklak.txt](https://github.com/fossasia/susi_server/files/932299/loklak.txt)

[2017-04-20 05:21] Abhi2424shek commented on #108
Isn't this fixed yet?

[2017-04-20 11:39] Abhi2424shek commented on #31
@vivekkiran any updates?

[2017-04-20 11:51] Abhi2424shek commented on #110
Can I try something, wont checking for a empty String and returning json stating an error has occurred enough?

[2017-04-20 12:28] niccokunzmann commented on #110
I think, JSON is an improvement.

On 20.04.17 13:51, Abishek V Ashok wrote:

[2017-04-20 12:47] Abhi2424shek commented on #39
@vivekkiran I guess it's safe to close it, is it?

[2017-04-20 12:49] Abhi2424shek commented on #51
Closing in favour of #69

[2017-04-20 12:49] #51 closed

[2017-04-20 12:51] Abhi2424shek commented on #107
botkit.ai

[2017-04-20 18:25] Fluepke commented on #113
Ok, so I've tinkered around with enabler. It's working quite well and for Berlin / Brandenburg it does not require any API keys as it just parses a public available interface (is this legal)?
Whats the way to go for implementing a ConsoleService for this? Just copy the necessary code from enabler (while contributing the authors) and writing a ConsoleService to interface with enabler?

Another opti

[2017-04-20 20:54] #31 closed

[2017-04-21 13:18] Orbiter opened #118 "Pattern Recognition for Console API"
for each URL which a console API accesses, check against an internal pattern list to add/replace access keys

[2017-04-22 11:42] mariobehling opened #119 "Set up dev.susi.ai as CNAME"
Please set up dev.susi.ai as CNAME to fossasia.github.io and change the CNAME file in the gh-pages branch.

[2017-04-22 12:38] Orbiter commented on #119
done

[2017-04-22 12:38] #119 closed

[2017-04-24 08:38] mariobehling opened #120 "Links not correct on gh-pages live page"
Some links are giving 404s and the logo is not showing up.

Please fix the links by updating the way the gh-pages branch is build. Please ensure the links are set in a generic way.

[2017-04-24 21:53] mariobehling opened #122 "Only keep one Readme either rst or md"
Please ensure there is just one Readme file whatever works on the start page as well as for the gh-pages site.

[2017-04-26 07:45] mariobehling opened #123 "Duckduckgo Instant Answers - How can we make use of it"
How could we make use of Duckduckgo Instant Answers? Can we use them? What about the community contribution model, what can we learn from it?

Links:
https://duck.co/ia
https://github.com/duckduckgo

[2017-04-30 15:08] mariobehling commented on #56
We will develop guidelines for the UI in the respective sub projects. Therefore I am closing this. Thanks.

[2017-04-30 15:08] #56 closed

[2017-04-30 15:13] #122 closed

[2017-04-30 15:36] mariobehling commented on #115
Working now.

[2017-04-30 15:36] #115 closed

[2017-04-30 15:40] mariobehling commented on #97
@aksh98 Are you still up for this task?

[2017-04-30 15:43] mariobehling commented on #68
It seems to working for autodeployment. Therefore closing it.

[2017-04-30 15:43] #68 closed

[2017-04-30 15:46] mariobehling commented on #44
This idea could improve the app. However, let's focus on solving bugs and getting everything to work now. We can follow up on other ideas later. Therefore I am closing this now.

[2017-04-30 15:46] #44 closed

[2017-04-30 15:48] mariobehling commented on #6
Remaining items.

app.json:	"logo": "https://raw.githubusercontent.com/loklak/loklak_server/master/html/images/loklak_anonymous.png",
app.json:	"website": "http://loklak.org",
app.json:	"repository": "https://github.com/loklak/loklak_server.git",
app.json:	"image": "mariobehling/loklak",
app.json:		"BUILDPACK_URL": "https://github.com/loklak/heroku_buildpack_ant_loklak.git"
docker-cloud.yml:  name

[2017-04-30 15:51] mariobehling commented on #3
Susi already has Emoji support, but there are no skills written for it. Therefore closing it.

[2017-04-30 15:51] #3 closed

[2017-04-30 15:52] mariobehling commented on #5
For adding Wikidata skills, please follow current documentation. This is possible now.

[2017-04-30 15:52] #5 closed

[2017-04-30 15:55] mariobehling opened #124 "Take out remaining loklak references"
Remaining references:

app.json:	"logo": "https://raw.githubusercontent.com/loklak/loklak_server/master/html/images/loklak_anonymous.png",
app.json:	"website": "http://loklak.org",
app.json:	"repository": "https://github.com/loklak/loklak_server.git",
app.json:	"image": "mariobehling/loklak",
app.json:		"BUILDPACK_URL": "https://github.com/loklak/heroku_buildpack_ant_loklak.git"
docker-cloud.yml:

[2017-04-30 15:55] mariobehling commented on #6
Closing this issue. Following up here: https://github.com/fossasia/susi_server/issues/124

[2017-04-30 15:55] #6 closed

[2017-04-30 15:57] mariobehling commented on #10
Please follow new documentation for skill writing. This should be possible now.

[2017-04-30 15:57] #10 closed

[2017-04-30 15:57] #9 closed

[2017-04-30 15:58] mariobehling commented on #101
We are postponing this issue and will decide if we need this at a later point.

[2017-04-30 15:58] #101 closed

[2017-04-30 17:16] mariobehling commented on #25
With the recent changes of SUSI we will update this approach in different issues. Closing this therefore.

[2017-04-30 17:16] #25 closed

[2017-04-30 17:47] mariobehling opened #125 "Reduce size of git repository"
A lot of files have been cleaned up. However, the history of files makes the repository very big. Please propose and implement ways to reduce the size of the repository.

[2017-04-30 19:14] mariobehling opened #126 "Create a skill with an API from an online service using the tutorial"
Create a skill with an API from an online service using the tutorial at https://github.com/fossasia/susi_server/blob/development/docs/skills/susi_skill_development_tutorial.md

The skill should make use of an API of an online service.

Add the skill first to http://dream.susi.ai and share it as a comment.

There is also information from this workshop available here https://www.youtube.com/watch?v=

[2017-05-01 05:07] Abhi2424shek commented on #125
IMO,

We could rebase,
Pros:
- Reduced size
Cons:
- Authors are not shown by github
- May mess up completely
- Commit history changes

We could rename the current branch, and then start a new branch which is rebase, hence retaining the old commit details in the old branch and having new commits go into the new branch, for convienience we rename the current branches to something and create new bran

[2017-05-01 13:32] mariobehling opened #127 "Add Gemnasium button"
Please add a Gemnasium button to the Readme.md

[2017-05-03 12:34] AliAyub007 opened #130 "Dream doesn't work if upper case letters are used in it's name"
**Expected Behavior**
It should be mentioned in SUSI Skill development tutorial.

[2017-05-03 15:01] DravitLochan commented on #126
shall I start by adding a skill which helps the user to query the value of one currency into another?
@mariobehling

[2017-05-03 15:54] AliAyub007 commented on #126
@mariobehling I am creating a skill so that we can check weather details for any specified city. Currently I implemented this for temperature and humidity values thought temperature is in kelvin right now but I am working on to make it to celcius.
here is the dream http://dream.susi.ai/p/check

[2017-05-03 16:27] dynamitechetan commented on #108
@Abhi2424shek I tried resetting password in SUSI app. Now there is a link in the email to reset the password and its working fine.

[2017-05-03 16:30] chiragw15 commented on #108
@dynamitechetan it has been fixed. Someone should close this issue now.

[2017-05-03 16:31] dynamitechetan commented on #108
yes 👍

[2017-05-03 18:37] AliAyub007 opened #132 "Enabling multiple console results as an answer"
**Current Behavior**

Right now console results as an answer is designed in that way to return only the first line.
!console:$name$

**Expected Behavior**

It should return multiple results as answer.
!console:$name$, $place$, $Price$

related to issue #100

[2017-05-04 03:19] #130 closed

[2017-05-04 12:04] chashmeetsingh opened #133 "Parse root key value pairs from any json"
I wasn't able to extract root key values from the Susi chat API.

Here is my code

[code]

I wanted to extract the value of any readme_*.

#### Expected Behaviour
Should parse and return the string value.

#### Actual behaviour
I get the webResult result.

[2017-05-04 12:04] saurabhjn76 opened #134 "Handling private keys when using an API"
**Actual Behaviour**

Currently, there is no way to deal with private API keys for creating skills.

**Expected Behaviour**
There should be a way to deal with private keys.

[2017-05-05 07:21] julianfox opened #135 "Build instruction not correct?"
The build instruction seem not correct:

On macOS Sierra system I get this error:

All work perfectly fine with:

Should we update the doc ?
I don't have any knowledge about JAVA so I prefer to ask before to submit a PR ;-)

[2017-05-05 08:18] #120 closed

[2017-05-05 09:00] Orbiter commented on #135
Susi can be started with gradle run, but we may keep the start script as a convenience method and for people who do not know about gradle.

I guess it should be possible to run susi without gradle after a gradle assemble has been done. Can you do that rewrite?

[2017-05-05 12:35] Laughing-Boy opened #136 "Static pattern matching for finding JSON key in Susi Dream Framework"
[code]
_{"base":"USD","date":"2017-05-04","rates":{"EUR":0.91516}}_

while creating currency converting skill, I encountered an issue. The argument beside 'console', takes static string and does pattern patching. Dynamic arguments with variables like above case do not work.

[2017-05-05 13:11] nidhinmahesh commented on #127
Hello! I made a commit to this issue. please check.

[2017-05-05 13:12] AliAyub007 commented on #126
**BBC NEWS Api**
http://dream.susi.ai/p/news
This will return recent articles and news as a description.

**Weather Enhancement**
http://dream.susi.ai/p/weather
This will tell humidity percentage and will tell about next day's forecast.

It has more things which can be implemented but as we can only receive one answer in console and that is issue #132

[2017-05-05 13:32] DravitLochan opened #138 "managing POST request"
Is there any way to make POST request at a url which might be missing from the documentation?
for reference: https://github.com/shakee93/fonoapi is an API which returns data about mobile handsets.
@Orbiter please guide!

[2017-05-05 16:09] chashmeetsingh commented on #138
Passing header parameters as well.

[2017-05-05 16:24] chashmeetsingh commented on #126
#### Random Gif API (Giphy.com)
http://dream.susi.ai/p/random_giphy
Returns a random GIF

[2017-05-05 16:53] uday96 commented on #126
**Language translator**
http://dream.susi.ai/p/languageskills
Currently converts to french and german from english and also gives the meaning of a word in english. (working on a way to extend translation from any language to another).

**Cooking recipies**
http://dream.susi.ai/p/cooking
Gives the recipie to cook a particular dish.

[2017-05-05 22:27] DravitLochan opened #139 "Hosting API on our server"
There are several APIs which says if we have a big project, then we should host the APIs on our own server. The source code of the API is open. For instance, [this](https://github.com/Hipo/university-domains-list-api) API has it's data set available [here](https://github.com/Hipo/university-domains-list).
Should we host them, or ignore for now?

[2017-05-06 05:25] chashmeetsingh commented on #100
@Orbiter support for GIF can also be added?

[2017-05-06 05:34] chashmeetsingh commented on #132
Can we also store the key-value pair in variables and instead of having a path for a single item use those variables to get multiple results in console. Makes sense?

[2017-05-06 07:29] dynamitechetan commented on #126
**Throw a dice**
http://dream.susi.ai/p/dice
Returns a random number from 1 to 6

[2017-05-06 07:54] DravitLochan commented on #126
@dynamitechetan http://deckofcardsapi.com/ have a look at this API. This might enhance the skill you are working on :)

[2017-05-06 08:08] Fluepke commented on #134
This is very important question, as many open source projects face this problem! Let's find a solution for this issue.

So, here are my thoughts on this

1.  Convince everybody to offer open APIs to support FOSS 😀 (Ok, I know. That's seems rather unlikely)
2. A *key server* at which the developers register using their Facebook, Twitter, Google, whatever account. Via these accounts the server could

[2017-05-06 08:15] Fluepke opened #140 "Add support for HRS"
Add API support for HRS (hotel reservation service)

1. Figure out if they have an open API (from the website it seems: no)
2. Reverse engineer their app, maybe there's an API endpoint, we could use
3. Wireshark their app (if it's obfuscated or unreadable)
4. Implement this API

[2017-05-06 08:17] Fluepke opened #141 "Add support for deliveroo"
Add API support for deliveroo (food delivery service)

1. Figure out if they have an open API (a possible way would be parsing their website, but this is **not** possible as a SuSi dream).
2. Reverse engineer their app, maybe there's an API endpoint, we could use
3. Wireshark their app (if it's obfuscated or unreadable)
4. Implement this API

[2017-05-06 08:23] madhavrathi commented on #126
Daily horoscopes and flip a coin
http://dream.susi.ai/p/madhavrathi

[2017-05-06 08:25] madhavrathi commented on #126
has anyone figured out how to access root elements of json(what to pass within path) ?

[2017-05-06 08:38] Orbiter commented on #134
The private API keys in skills will be handled as a kind of 'hidden' skills in the upcoming susi skill wiki.

That wiki will enable that a user creates and edit a skill, but keeps it hidden from other users while it may be possible to share the skill function with everyone.

[2017-05-06 08:40] Orbiter commented on #134
please open an issue at https://github.com/fossasia/susi_skill_wiki with that concept idea

[2017-05-06 09:16] rishiraj824 commented on #126
Tells you about the pokemon
http://dream.susi.ai/p/pokemon

Here's a consolidated list of APIs which one can use to create skills.
https://github.com/toddmotto/public-apis

[2017-05-06 09:58] Fluepke commented on #134
The wiki idea sounds great. I'll push my thoughts there.

[2017-05-06 10:57] uday96 opened #143 "Case Sensitivity for parameters"
when we are creating skills, the input parameters being used as $1$ ,$2$ are being converted to lower case. This is an issue for few endpoints like fixer.io where
http://api.fixer.io/latest?base=USD&symbols=EUR  works but
http://api.fixer.io/latest?base=usd&symbols=eur   does not

**Expected behaviour :**
Maintain case sensitivity for parameters

[2017-05-06 11:05] Orbiter commented on #106
We will put this schema as directory structure into a new github project: https://github.com/fossasia/susi_skill_data
That data will be usable for susi as susi dream.
The final skill repository concept will be, that the default configuration of susi is a set of default dreams, all from that repository.

If we have confidence that this schema is usable, we will build a wiki-like environment which c

[2017-05-06 11:29] Orbiter opened #144 "Create Susi Dreams from https://github.com/fossasia/susi_skill_data"
The project https://github.com/fossasia/susi_skill_data shall be cloned into a repository at the same hierarchy as susi_server. Then, a susi dream can be created from that respository.

Syntax of a susi dream from susi_skill_data may be different from dream.susi.ai. Details will be defined later.

[2017-05-06 13:13] dynamitechetan commented on #126
**Shows gif for a given query**
http://dream.susi.ai/p/gif

[2017-05-06 13:43] Fluepke commented on #126
**Retrieves the hottest image from imgur**
http://dream.susi.ai/p/imgur

[2017-05-06 13:49] AliAyub007 commented on #126
**Tells us about population of any country**
http://dream.susi.ai/p/population

[2017-05-06 13:53] madhavrathi commented on #126
Displays motivational quotes daily
http://dream.susi.ai/p/quote

[2017-05-06 14:02] Fluepke commented on #126
**Display the current position of the international space station**
http://dream.susi.ai/p/iss

[2017-05-06 14:18] DravitLochan commented on #126
**sports details from espn api**
http://dream.susi.ai/p/espn

[2017-05-06 14:29] Fluepke commented on #126
**Sunrise**
http://dream.susi.ai/p/sunrise

Unfortunately, we cannot nest APIs. This would be useful, to first query a name to GPS converter and then query the sunrise API.

[2017-05-06 15:51] sch00lb0y commented on #126
**University**
http://dream.susi.ai/p/university

[2017-05-06 16:36] saurabhjn76 commented on #126
### Day in History
Events, Births, Deaths on a particular date
http://dream.susi.ai/p/history

[2017-05-06 16:45] jyoth1raditya commented on #126
Price of stock: http://dream.susi.ai/p/stockdata
Distance : http://dream.susi.ai/p/distance_between_cities
Time : http://dream.susi.ai/p/time_to_travel_between_cities
Your IP : http://dream.susi.ai/p/ip ( Not working due to, parsing of root )

[2017-05-06 16:52] Orbiter opened #145 "check console API call for recursion"
A susi console rule should not call susi again. There is no need to do that. If susi should call itself, use backquotes, see https://github.com/fossasia/susi_server/blob/development/docs/skills/susi_skill_development_tutorial.md Level 9 "Self-Reflection".

To prevent such mistakes, filter out susi api calls in console rules

[2017-05-06 17:22] Orbiter opened #147 "Test cases for JSONPATH"
Please write down all example json objects which you want to access with a jsonpath.

[2017-05-06 17:59] madhavrathi commented on #126
Tells Director of a particular movie(Finally solved accessing root elements, thanks to @Orbiter )
http://dream.susi.ai/p/director

[2017-05-06 18:10] madhavrathi commented on #147
https://api.littleastro.com/public/xiaoerge_dev_horoscope.php
@Orbiter In this, how can we display horoscope of a particular zodiac sign, entered by user.

[2017-05-06 18:16] saurabhjn76 commented on #133
As suggested by @Orbiter, the following would work.
[code]

[2017-05-06 18:23] chiragw15 commented on #126
@jyoth1raditya The IP skill will not work because the user doesn't directly call the API and thus the response will always be server IP. I tested the IP skill on different devices and found same IP address i.e 144.76.32.15 .

[2017-05-06 18:29] madhavrathi opened #148 "Include test case API in skill development tutorial"
Many cases are to be included in skill development tutorial, to help developers understand better what to be passed inside path in console

would you like to work on this?
yes. i am using the sample test cases provided by @Orbiter

[2017-05-06 18:35] chashmeetsingh commented on #133
@saurabhjn76 does that work for you?

[2017-05-06 18:44] chashmeetsingh commented on #133
solved!

[2017-05-06 18:44] #133 closed

[2017-05-06 20:14] madhavrathi opened #151 "No Template for Issue and Pull request"
Actual Behaviour:
No template is set on this repository for issue and pull requests as done in other fossasia's repository
Would you like to work on it?
Yes. Sending a PR

[2017-05-06 20:44] Orbiter commented on #106
done with https://github.com/fossasia/susi_skill_data/issues/1

[2017-05-06 20:44] #106 closed

[2017-05-06 23:34] DravitLochan commented on #126
http://dream.susi.ai/p/movie_n_shows

plot, imdb rating and genre. (quick extension of @madhavrathi 's skill)

[2017-05-07 03:24] chiragw15 commented on #126
1. Using semantic analysis to determine whether entered text is positive or negative.
http://dream.susi.ai/p/sentiment

2.  Determine gender of a person from his first name
http://dream.susi.ai/p/gender

3. Using github api to find information about person from his github username
http://dream.susi.ai/p/github

4. Calculating differentiation and integration of an expression
http://dream.susi.ai/p/

[2017-05-07 05:05] Manveer695 commented on #126
To know the full form and country code of a space agency.
http://dream.asksusi.com/p/space

[2017-05-07 05:28] AliAyub007 commented on #126
**Tell acronyms**
http://dream.susi.ai/p/acronyms

**Tells about height of different buildings or places**
http://dream.susi.ai/p/height

**Tells Calling codes of countries**
http://dream.susi.ai/p/callingcode

**Tells about region of country whether it's Asia, africa or any other**
http://dream.susi.ai/p/region

**Tells us about area of country**
http://dream.susi.ai/p/area

**Tells us about Time

[2017-05-07 07:21] pri22296 opened #154 "Incorrect references in toctree in docs/index.rst"
The .rst/.md files were moved to sub-folders within the docs directory. Their corresponding index.rst entries should be updated accordingly.

[2017-05-07 07:23] pri22296 commented on #154
I'd like to fix this. Could someone please assign this issue to me.

[2017-05-07 09:28] DravitLochan commented on #126
working on meme generator and qr code generator. once finished, will attach the dream etherpad link as well!

[2017-05-07 10:03] saurabhjn76 commented on #126
**Draw a card**
http://dream.susi.ai/p/deckofcards

[2017-05-07 10:21] dynamitechetan commented on #126
**Detects language of a sentence passed**
http://dream.susi.ai/p/detectlang

[2017-05-07 11:12] DravitLochan commented on #126
@sch00lb0y [this](http://dream.susi.ai/p/university) works only for the first name of the university. for instance, if you are looking for Birla Institute of Technology and Science (i.e. bits) you must pass only 'birla' to get a valid response.

[2017-05-07 12:42] chashmeetsingh opened #156 "Adding headers to an API request"
Is there any way we can add headers to an API request? This will enable us to consume more number of APIs.

[2017-05-07 13:35] Manveer695 commented on #126
To answer questions like "Who is amitabh bachchan" or "who is taylor swift", using the Api of susi itself.
http://dream.asksusi.com/p/whotowhat

[2017-05-07 15:28] amitiwary999 commented on #126
#Find capital of any country
 http://dream.susi.ai/p/countrycapital

[2017-05-07 15:54] dynamitechetan commented on #126
**Wikipedia summary**
http://dream.susi.ai/p/wiki

[2017-05-07 16:39] chiragw15 opened #157 "Replacing loklak with SUSI AI in verification and recovery email"
1.) https://github.com/fossasia/susi_server/blob/development/conf/templates/reset-mail.txt Here it says "You just requested for a password reset for your loklak account."
2.) https://github.com/fossasia/susi_server/blob/development/src/ai/susi/server/api/aaa/SignUpService.java#L205 Here the subject says "Loklak verification" .
Just replacing loklak with SUSI AI.

[2017-05-07 17:14] #157 closed

[2017-05-07 17:15] #154 closed

[2017-05-07 17:16] #151 closed

[2017-05-07 18:49] mariobehling opened #159 "Create installation instructions for setup on Google cloud with Kubernetes"
How to setup SUSI.AI server with Kubernetes on Google Cloud?

Please add installation instructions into the docs/installation folder.

[2017-05-08 04:44] pri22296 opened #161 "FileNotFoundError in docs/include.py on travis"
**Steps to reproduce it**

This error seems to only occurs on travis. It doesn't happen locally.

**LogCat for the issue**

    Traceback (most recent call last):
        File "include.py", line 68, in <module>
            main()
    File "include.py", line 63, in main
        include_file(filename)
    File "include.py", line 39, in include_file
        with open('..\\{}'.format(filename)) as fil

[2017-05-08 12:23] amitiwary999 commented on #126
**Some random chat**
 http://dream.susi.ai/p/simplechating

[2017-05-08 15:15] saurabhjn76 commented on #126
**Calendar**
http://dream.susi.ai/p/calendar

[2017-05-08 15:34] isuruAb commented on #126
**check the book name** - build by google book api
http://dream.susi.ai/p/booknames

[2017-05-08 18:26] AliAyub007 commented on #126
**Social Shares**
**Tells about social shares of specific platforms e.g social shares of 9gag**
http://dream.asksusi.com/p/social

[2017-05-09 07:02] julianfox commented on #135
Yes I can run susi with bin/start.sh without any issue after the gradle assemble.

But is it normal to obtain this error with the "ant" command?:

[2017-05-09 07:56] jyoth1raditya opened #163 "Addressing Fact based queries"
@mariobehling , Please help us how to address this issue.

![screenshot_20170508-160426 1](https://cloud.githubusercontent.com/assets/24853337/25801511/87ee5958-340b-11e7-8839-882c69cb78b9.png)
![screenshot_20170508-160223 1](https://cloud.githubusercontent.com/assets/24853337/25801510/87ed716e-340b-11e7-8c15-9a43e810e2f8.png)

[2017-05-09 10:30] saurabhjn76 commented on #126
**Question and answer**
http://dream.susi.ai/p/qna

[2017-05-09 10:42] Orbiter commented on #144
This has been implemented without dreams, all data from https://github.com/fossasia/susi_skill_data  will be available immediately without triggering a dream.
The production site will pull latest changes every minute.

[2017-05-09 10:42] #144 closed

[2017-05-09 10:45] Orbiter commented on #126
ATTENTION! Thank you very much for creating so many dreams. Now we have a place to put the dreams permanently into a storage place and move it to production automatically.

in https://github.com/fossasia/susi_skill_data is the new storage place. Please read the readme carefully, find a place in the data structure and put your data there using a pull request. Use a peer reviewer to discuss the righ

[2017-05-09 11:08] Orbiter commented on #134
closed in favor of https://github.com/fossasia/susi_skill_wiki/issues/2

[2017-05-09 11:08] #134 closed

[2017-05-09 17:02] chashmeetsingh opened #164 "Need sample responses for each type."
I need a list of media and sample queries for each type of testing and implementation on the iOS app. Can someone provide the same?
Thanks!

[2017-05-09 19:55] chashmeetsingh opened #165 "Urls for table action type"
**Actual Behaviour**

We currently have no Url present.

**Expected Behaviour**

We should have Url for all the articles along with their titles.

**Steps to reproduce it**

http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=what+are+the+reddit+articles+about+loklak

Issue: https://github.com/fossasia/susi_iOS/issues/50

[2017-05-10 01:29] DravitLochan commented on #163
I am also looking for an API which can respond with facts about a particular entity.

[2017-05-10 01:44] DravitLochan commented on #164
[List](https://github.com/fossasia/susi_android/issues/601)

[2017-05-10 01:45] DravitLochan commented on #156
@mariobehling @Orbiter any info on adding headers and sending a POST request?

[2017-05-10 02:10] DravitLochan commented on #147
http://dream.susi.ai/p/horoscope
I found an API which does this in a pretty easy fashion. Please close this issue :)

[2017-05-10 03:18] chashmeetsingh commented on #164
@DravitLochan could you add an example response for each query that is sent to the server?

[2017-05-10 06:53] DravitLochan commented on #164
you need the JSON response?

[2017-05-10 07:26] chashmeetsingh opened #166 "Data for pie-charts missing"
**Actual Behaviour**
At present, no data is present.

**Expected Behaviour**
The response should contain data which can be used for the creation of pie-charts.

**Steps to reproduce it**
Try hitting the following URL and check the response:
http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=Who%20will%20win%20the%202016%20presidential%20election

[2017-05-10 11:28] amitiwary999 opened #167 "Currently user messages are not saved in server"
**Actual Behaviour**

Currently user messages are saved in local storage using realm.

**Expected Behaviour**

users messages or chat should be saved on server so that he/she can retrieve it anytime from anywhere.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2017-05-10 13:08] chashmeetsingh opened #168 "Encoding issue"
**Actual Behaviour**

Sending `1+1` in the query send `1%201`.

**Expected Behaviour**

It should instead send `1%2B1` in the query.

This will help to consume the Wolfram API for computing problems.

[2017-05-10 13:38] #139 closed

[2017-05-10 17:53] mariobehling opened #169 "Propose a better Signup and Accounting Process using the Server Account APIs"
The current signup and accounting process is confusing. SUSI provides access to server feature through the account apps, which are separate but currently added to the SUSI Server.

The result is, that if users request a new password, they will be redirected through a link to the JSON account response. Instead of being redirected there a better solution would be if they would be directed to their m

[2017-05-10 18:14] uday96 opened #170 "Pattern Matching issue"
![rule](https://cloud.githubusercontent.com/assets/13276887/25911145/661b8f82-35d0-11e7-91f3-d06e69684406.png)

For the above rule , when we enter

the expected reply is

but susi is giving

[2017-05-11 05:48] Manveer695 opened #171 "Question redirection feature in Susi dream is broken"
**Actual Behaviour**

During the creation of a Susi dream, if a question's answer is a redirection to another question, then it doesn't work.

**Expected Behaviour**

If the question's answer is in ``(backquotes), it should redirect to that question(in the backquotes) and answer accordingly.

**Screenshots** (indicating what's wrong):
<img width="293" alt="redirectfail1" src="https://cloud.githubu

[2017-05-11 08:21] dynamitechetan commented on #168
It is working.
If you test this on http://api.susi.ai/ and pass 1+1 it will encode it in 1%2B1.
http://api.susi.ai/susi/chat.json?timezoneOffset=-330&q=1%2B1

[2017-05-11 09:43] dynamitechetan opened #172 "AIML TO SUSI"
If we can have a script that converts AIML files to SUSI dream files then our chatbot can learn really fast.

[2017-05-11 09:48] chashmeetsingh commented on #168
Yup, thanks!

[2017-05-11 09:48] #168 closed

[2017-05-11 17:18] betterclever opened #173 "URL incorrect in Google cloud Docker setup."
**Actual Behaviour**

Url for incorrect. It points to loklak repo.

**Expected Behaviour**

The docs must be correct.

**Steps to reproduce it**

N/A

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes.

[2017-05-12 01:33] #173 closed

[2017-05-12 02:05] DravitLochan opened #175 "refactor the docs and web pages"
**Actual Behaviour**

Some of the files are in context with loklak server.

**Expected Behaviour**

All the files should be stating procedures for susi_server

**Steps to reproduce it**
change the files with wrong info.

**Would you like to work on the issue?**
yes

[2017-05-12 08:12] Fluepke commented on #141
You can see my progress for this on https://github.com/Fluepke/DeliverooAPI
I'll refactor the code today, write a ConsoleService and prepare a PR, but I'd be glad if there's someone giving me some feedback.

[2017-05-12 22:18] Orbiter commented on #100
documentation is continued in https://github.com/fossasia/susi_skill_data/blob/master/README_susi_skill_language_tutorial.md
chapter 12

[2017-05-12 23:19] Fluepke commented on #125
Load all dependencies through Gradle. (org.json is included in the source for example)
Make subprojects, compile them via Gradle. That increases maintainability.

[2017-05-13 04:45] betterclever commented on #159
@mariobehling The current merged implementation has some problems.
1. It is pulling from @jyoth1raditya 's docker and not building a image then and there and deploying it. (since main motive of kubernetes deployment is that every developer has his deployment from source code from their own fork for easy testing)
2. Info regarding updating deployment and scaling up should have also been provided.

[2017-05-13 07:57] AliAyub007 opened #177 "Gitter hubot chatbot is not working"
I followed this tutorial https://github.com/Odonno/gitter-bot-how-to#prerequisites and tried making hubot for gitter but it didn't workout.
I tried with heroku and azure both but didn't work out.

Here is respository for all work
https://github.com/AliAyub007/SUSI_gitterbot

*readme file is auto generated.

[2017-05-13 11:36] Manveer695 opened #178 "Not able to set up an already made gitter bot"
I am not able to set [this](https://github.com/dcsan/gitterbot) gitterbot on my local machine. I get an error of not found when I run it. I tried with my own gitter key and secret but then I got an authorization error.

**Screenshots of the issue**
If i use my own gitter key and secret-:
<img width="661" alt="gitterunauthorized" src="https://cloud.githubusercontent.com/assets/20307535/26025072/67c

[2017-05-13 13:18] amitiwary999 opened #179 "currently for every single word query susi not replying correctly"
**Actual Behaviour**

if user query in single word susi is  replying in same format 'Expression is:   '

**Expected Behaviour**

It should reply according to query

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![screenshot_2017-05-13-18-44-25](https://cloud.githubusercontent.com/assets/14003244/26025776/9971474e-380c-11e7-80ee-e71edb68a192.png)

**Would you li

[2017-05-13 14:53] chiragw15 commented on #179
@amitiwary999 sorry, my fault. Used * [here](https://github.com/fossasia/susi_skill_data/blob/master/models/general/knowledge/en/sentiment_analysis.txt) to input query. Fixed by orbiter . You can close this.

[2017-05-13 15:18] #179 closed

[2017-05-13 23:07] saurabhjn76 opened #180 "Making signup process easier"
**Actual Behaviour**

Currently, only passwords with capitals and letters and numbers are allowed, which is more secure, but adds to difficulty while signing up.

**Expected Behaviour**

At the moment, a simple password (any password with minimum 6 letters) to get more users is more important than a strong password.

[2017-05-14 03:53] #180 closed

[2017-05-15 16:53] dynamitechetan opened #184 "Calling APIs which need Oauth"
How can we call some APIs which needs Oauth, such as using the Uber API. We can say "Book me a cab" and susi will book a cab.
We are also authenticating a user on SUSI, so we can also store his Access Token for these type of services.

[2017-05-15 17:01] dynamitechetan opened #185 "Javadocs link in README is 404"
http://susi.github.io/susi_server/
this link in the Readme is not working.

[2017-05-16 19:09] betterclever commented on #125
@mariobehling I have done a detailed analysis of repository size. The repository size is large due to old lib files. They are still persistent in git history.
Here's a size summary(in decreasing order) : https://transfer.sh/11eAdt/files_desc.txt

Since, now we've switched to gradle these files are stale and can be removed from git history.

I'll modify, history and post here exact benefits when do

[2017-05-16 19:33] saurabhjn76 commented on #169
Facebook provides 2 option for signing up. Email or Phone. It sends a confirmation code like “XXXXX is your Facebook confirmation code”. Also a redirection through a link which confirms the identity of the user. If SMS delivery fails, one can choose to receive the SMS code in a phone call or, if their phone number is associated with a Facebook account. Similar things happen for password recovery.

[2017-05-16 22:02] saurabhjn76 commented on #163
@jyoth1raditya check this dream [facts](http://dream.susi.ai/p/facts).

[2017-05-16 22:57] jyoth1raditya commented on #163
@saurabhjn76 , Great work

[2017-05-16 22:57] #163 closed

[2017-05-18 17:59] jyoth1raditya opened #187 "Accurate response to queries related to "when""
**Actual Behaviour**
<img width="756" alt="screenshot 2017-05-18 23 11 25" src="https://cloud.githubusercontent.com/assets/24853337/26215881/9c7ba4cc-3c1f-11e7-8157-fe535031f398.png">

<img width="758" alt="screenshot 2017-05-18 22 50 50" src="https://cloud.githubusercontent.com/assets/24853337/26216418/a6f08560-3c21-11e7-8a9f-d5add41e6dc4.png">
<img width="800" alt="screenshot 2017-05-18 22 49 31

[2017-05-18 18:00] jyoth1raditya commented on #187
I am working on it. Please assign this issue to me

[2017-05-18 18:16] jyoth1raditya opened #188 "Accurate response to queries related to "Who""
**Actual Behaviour**
<img width="619" alt="screenshot 2017-05-18 23 45 22" src="https://cloud.githubusercontent.com/assets/24853337/26217139/06a2207a-3c24-11e7-981b-f1ee158bb710.png">
<img width="611" alt="screenshot 2017-05-18 23 45 30" src="https://cloud.githubusercontent.com/assets/24853337/26217173/20793fc4-3c24-11e7-9219-dae04b2568e5.png">
<img width="619" alt="screenshot 2017-05-18 23 45 22"

[2017-05-18 18:18] jyoth1raditya commented on #188
I am working on this issue

[2017-05-18 18:37] saurabhjn76 commented on #188
dream [facts](http://dream.susi.ai/p/facts) can answer such queries, but it is too general, you can make it specific.
![susi_chat](https://cloud.githubusercontent.com/assets/9781788/26217978/029cd1fc-3c27-11e7-9ca3-eaedfe793b0e.png)

[2017-05-18 20:26] betterclever commented on #125
@mariobehling @Orbiter here are the results after cleaning up the history.

![screenshot from 2017-05-19 01-48-44](https://cloud.githubusercontent.com/assets/16309034/26221826/77a3d41a-3c35-11e7-8005-a004196b1fa9.png)

It is 90% improvement. from 198mb (before cleanup) to mere 19mb.

All code files have been preserved, and only library files (jars) have been removed.

If changes are desired/satisf

[2017-05-19 09:23] droms opened #189 "SUSI AI verification"
**Actual Behaviour**
[code]

**Expected Behaviour**

Shows a friendly html page to the user

**Steps to reproduce it**

Sign up from Android app and click on the verification link in the email

[2017-05-19 09:28] sudheesh001 commented on #125
@betterclever What about the contributors list? `git shortlog -n`

[2017-05-19 09:40] sudheesh001 commented on #189
This is the serverside, Showing the well formatted HTML should be done by the application that uses susi as it's API service.

[2017-05-19 09:40] #189 closed

[2017-05-19 10:04] droms commented on #189
My mistake I thought this was responsible for email verification link

[2017-05-19 10:14] betterclever commented on #125
https://transfer.sh/11yOKv/original_shortlog.txt
https://transfer.sh/erTX1/fork_shortlog.txt

There are some differences (of 10-20 commits) between shortlog if you check them in a diff checker since my repo was not synced with upstream.

I'll sync and report back though according to me it must come same since only history and commit hashes are rewritten and not original contributors commit.

[2017-05-19 18:21] jyoth1raditya commented on #188
Solved the issue and sent PR to susi skiils.
The name od dream is "who"

[2017-05-19 18:21] #188 closed

[2017-05-20 13:01] mariobehling commented on #125
It looks good to me. @Orbiter ?

[2017-05-20 13:19] Orbiter commented on #125
looks good, @betterclever what are the exact commands to apply rebase as you did?

[2017-05-20 13:47] betterclever commented on #125
I followed this guide.
http://naleid.com/blog/2012/01/17/finding-and-purging-big-files-from-git-history

Exact commands: https://transfer.sh/Fz22W/history_susi_server.txt
These were applied to each branch to obtain those results

[2017-05-20 14:32] betterclever commented on #125
@Orbiter I have synced my fork with upstream and rewritten history. You may checkout from my branch here to directly force push to branches here if you don't wish to run commands again.

https://github.com/betterclever/susi_server.git

[2017-05-20 17:25] #185 closed

[2017-05-21 12:03] #165 closed

[2017-05-21 12:04] Fluepke commented on #113
We can include `transport-enabler` as a git submodule and add it to the build chain.
However there were some arguments against git submodules. What's your opinion towards this?
If it's ok, I would write a proper PR for this (not that hacky one from a hackathon)

[2017-05-21 13:08] Fluepke opened #190 "BUG GeoPoint.distance returns result in decimetres, not in metres"
**Actual Behaviour**

Getting a result in decimetres.

**Expected Behaviour**

Result in metres.

**Steps to reproduce it**

Call `distance` from https://github.com/fossasia/susi_server/blob/development/src/ai/susi/geo/AbstractGeoPoint.java

I am working on this issue.
Please write more tests, so something this gets seen!

[2017-05-21 14:13] Fluepke commented on #190
This can be closed once my PR is accepted.

[2017-05-21 14:16] Fluepke commented on #140
It is (yet) not possible. They use certificate pinning inside their app, not way to MITM that.
Tried to reverse-engineer their app and remove the certificate pinning part, didn't work either.

Mailed them, answer still pending. I don't expect this to happen. Hotelling APIs are too much about making business and are usually closed (source). If you come with a new creative approach on this, feel fre

[2017-05-21 14:16] #140 closed

[2017-05-21 14:18] Fluepke commented on #175
We need much more documentation on the source code. Best would be to generate doxygen readable annotations and have doxygen generate the documentation automatically.

What do you think about this?
See http://www.stack.nl/~dimitri/doxygen/ for more info on doxygen.

[2017-05-21 14:25] Fluepke opened #192 "Low code coverage and testing fails"
We need to increase the **code coverage**.
Testing is in important part of development, to make sure features once implemented work as intended  and don't fall apart in the future.
Tests are also an important source of documentation as they show how your code is intended to be used.
You can read more about documentation [here](https://www.tutorialspoint.com/junit/)
Furthermore testing currently **

[2017-05-22 05:41] sudheesh001 commented on #113
As long as it's published online for webscrapers and crawlers to index it, it's fine storing it and doing anything we want with it.

I don't really like the idea of having git-submodules in the repository, it causes a huge dependency and lots of problems for new comers. For now I would really like the second approach to have the enabler on a private server and someone running it as a service from

[2017-05-22 14:09] Fluepke commented on #141
As there was no feedback, I'll pose a PR on this and #113 in a few minutes.

[2017-05-23 14:50] Fluepke commented on #192
Testing should now be running using #191
We need to update `travis.yml` to implement the points stated above.

[2017-05-23 20:17] chashmeetsingh commented on #187
Hey, @jyoth1raditya you can take a look at https://products.wolframalpha.com/api/explorer/, gives accurate responses.

[2017-05-24 05:18] uday96 commented on #164
@DravitLochan @chashmeetsingh Did you find sample JSON responses? If so, could you share the list of sample responses for each action type?

[2017-05-24 06:45] jyoth1raditya commented on #187
Thanks for sugesstion, I already sent PR to the issue. Using wolfram alpha.

[2017-05-24 06:45] #187 closed

[2017-05-24 16:41] tabesin opened #193 "Session time"
**Actual Behaviour**

Using the web app.
You 18:33:47 What time is it
SUSI 18:33:48  it is 33 minutes past 16

**Expected Behaviour**
it is 18:33

Susi server has to be aware of the local sessions user time.

[2017-05-25 11:02] saurabhjn76 opened #194 "Change title of Reset Password page"
**Actual Behaviour**

Currently, the reset password page's title shows 'Reset Loklak password'.

**Expected Behaviour**

It should be changed to 'Reset SUSI password'.

**Steps to reproduce it**

Ask for password reset from app, get to the page through a reset link like "[http://api.asksusi.com/apps/resetpass/index.html?token=L4ye7gOXyPri5f1kdDzWVepKN5049o](http://api.asksusi.com/apps/resetpass/in

[2017-05-25 12:14] amitsin6h commented on #143
want to work on this bug

[2017-05-28 09:57] mariobehling opened #198 "What are action types"
Please explain the concept of action types.

[2017-05-28 10:29] Orbiter commented on #198
Different clients provide different kind of possible behaviour: some clients may be able to play a song, other may be able to draw a piechart.

The server must be able to return only such kind of actions, which the client is able to show.
That is done using action types.

for example, you can call susi with:
`http://api.susi.ai/susi/chat.json?timezoneOffset=-120&q=who+are+you`
and get a result lik

[2017-05-28 10:49] DravitLochan opened #199 "What are the basic servlet needs to be developed"
**Actual Behaviour**
@Orbiter Please provide servlets that needs to be developed.

[2017-05-28 11:05] niranjan94 commented on #159
@mariobehling @betterclever @jyoth1raditya @Orbiter

Hi ... I just went through the kubernetes deployment steps/config here. But seems like everything is just running in one pod. This way we're not actually using the features and potential of kubernetes. The current setup is pretty similar to running on a single google compute or Amazon EC2 or VPS instance. This isn't scalable either.

What we nee

[2017-05-28 16:13] Fluepke commented on #169
@saurabhjn76 `we're graduating our service into Firebase and officially sunsetting the Digits brand` ...
I took a look at firebase, which is not free open source (not even free of charge) software, thus we shouldn't use this as an authorisation mechanism.

[2017-05-28 16:21] Fluepke commented on #169
My suggestion would be to use an open source authorisation mechanism called **`OAuth 2`**.
OAuth aims at solving a common problem on the internet: Having dozens of accounts.
Large web services like `Github`, `Facebook` and `GMail` can act as an OAuth Provider, thus making it possible for users to signup and login using one of their existing accounts.
Of course, we shouldn't force any of our users

[2017-05-28 16:35] Fluepke commented on #184
Please have a look at [this issue](https://github.com/fossasia/susi_server/issues/134) as it might solve your questions 😉
Maybe we should reopen this and discuss user specific API tokens as well there.
I think there will be a need to integrate user specific credentials / authorisation information to other services (e.g. email scanning -> "when does my flight depart?", deliveroo api -> "Order me a

[2017-05-28 17:29] Fluepke commented on #134
How about user specific APIs as discussed [here](https://github.com/fossasia/susi_server/issues/184)?
We need a way of storing user specific credentials to different services (e.g. Uber, IMAP, Deliveroo) to act as a client to these services, to offer more skills for interacting with the real world.

Sample use cases would be
* `Order me a Uber`: The user's credentials are used to order a Uber to h

[2017-05-29 13:21] Fluepke opened #200 "Improve error handling"
`e.printStackTrace();` is not an appropriate way of dealing with exceptions.

Hiding exceptions and just writing them to the console output is neither a good idea.
We must be able to detect exceptions from the outside, e.g. to write tests.

So, how should we deal with exceptions?

[2017-05-29 13:58] Fluepke opened #201 "[BUG] Loading susi skills from JSON fails"
When executing `susi_server`, you will receive the output:

[code]

The problem seems to be caused by **en_0090_fail.json** (how ironically it's called fail ^^):
[code]

The regex is being converted by `SusiPhrase.normalizeExpression(String s)`. The input is "\\\\?", the output is "\\\\" (two backslash). This output is not a valid regular expression, thus causing the problems.

In **line 97** of *

[2017-05-29 16:34] #194 closed

[2017-05-29 19:51] saurabhjn76 opened #202 "Correct Commit message guidelines in README.rst"
**Actual Behaviour**

Currently, in the [readme](https://github.com/fossasia/susi_server/blob/development/README.rst) file coding policy for commit guidelines states "Reference the issue numbers in the commit message. Follow the pattern Fixes # ".

**Expected Behaviour**

Fixes #[issue_number] should be avoided in the commit message. Commits should follow [these](https://github.com/fossasia/open-e

[2017-05-29 19:52] Manveer695 opened #203 "Should Microsoft bot framework be used?"
Currently, integration of Susi to messenger platforms is dependent on the platform itself i.e. for each messenger, the code(for integration) varies according to its(messenger's) supported API, languages, and features.

If Microsoft bot framework is used, a uniformity is achieved as just one generic piece of code running at a webhook url, integrates Susi to every messenger platform. We use a "botbu

[2017-05-29 19:59] #203 closed

[2017-05-29 20:01] Manveer695 opened #204 "Should Microsoft bot framework be used?"
Currently, integration of Susi to messenger platforms is dependent on the platform itself i.e. for each messenger, the code(for integration) varies according to its(messenger's) supported API, languages, and features.

If Microsoft bot framework is used, a uniformity is achieved as just one generic piece of code running at a webhook url, integrates Susi to every messenger platform. We use a "botbu

[2017-05-29 20:14] Manveer695 commented on #203
Sorry, was trying to assign label to this issue. That's why tried opening and closing the issue.
Got to know that i can't assign a label to an issue. Won't repeat the same mistake again. Sorry.
For clarity, opened up a duplicate issue i.e. github.com/fossasia/susi_server/issues/204

[2017-05-29 20:15] AliAyub007 commented on #204
Yes as @Manveer695 mentioned that using bot framework we just use one code and a bot that we build using bot builder https://github.com/Microsoft/BotBuilder to make it run over all the platforms.
we can use any hosting method for our code right know its hosted on heroku.

[2017-05-30 16:57] dynamitechetan opened #206 "Servlet for Changing User Roles"
If the current user logged in is the admin, then he should be able to change the user roles of other users.
For example, if admin wants to make someone a Privileged user or Change someone's role to Admin.

[2017-05-30 18:15] chashmeetsingh opened #208 "Adding limit to the response"
**Actual Behaviour**

Currently, the data object outputs all the response fetched from the skill

**Expected Behaviour**

There should be a limit to the number of items in the data object

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=universities+in+united+states

We ca

[2017-05-31 11:53] Fluepke opened #210 "[BUG] Codecoverage is not working"
See https://codecov.io/gh/fossasia/susi_server
Code coverage is not being tested, even though configured in `.travis.yml`

I'll work on this.

[2017-05-31 12:55] dynamitechetan opened #211 "Dashboard for ADMINs to change user roles."
There can be a dashboard for admins where they can change user roles for all the users.

[2017-05-31 14:06] chiragw15 opened #212 "Improving Susi Apps page"
**Actual Behaviour**

http://api.susi.ai/apps/applist/index.html This is current page.

**Expected Behaviour**

* Need to replace loklak with Susi.
* Adding information about the project.

@mariobehling @Orbiter What all changes needs to be done here? Do we need to change theme? Do we have to remove it completely and make it from scratch? What extra things need to be added?

**Would you like to wo

[2017-05-31 16:12] dynamitechetan opened #213 "API Endpoint to fetch all users"
While implementing the page for changing user roles, we need a API Endpoint that can list all the users and their user roles.

[2017-05-31 18:32] Fluepke commented on #113
Of course, we could host `transportr-enabler`, however hosting stuff on our own requires us to keep it all running and to maintain it.

Downsides of hosting `transportr-enabler`:
* Maintenance, availability
* Newcomers wanting to work on public transit would need to setup a server locally
* Need for a 2nd project (for the server software)
  * Thus both, `susi_server` and that server software would

[2017-05-31 18:55] Fluepke commented on #210
This issue can be closed, once #215 gets merged.

[2017-05-31 18:56] Fluepke commented on #192
Ok, so now we should soon be able to see the code coverage changing over time. Use that as a motivation to increase testing.

[2017-06-01 01:39] DravitLochan commented on #212
I have already opened #175  related to this. It did not mention app/web pages but I am already working on it. I have also updated the issue. You may close it :)

[2017-06-01 08:17] Manveer695 opened #216 "Resource to be used for Gitter Susi bot"
Some of the available resources for developers by Gitter are Gitter API [REST API](https://developer.gitter.im/docs/rest-api), npm packages like [hubot-gitter](https://www.npmjs.com/package/hubot-gitter), [hubot-gitter2](https://www.npmjs.com/package/hubot-gitter2), [app-veyor](https://www.npmjs.com/package/app-veyor-gitter-bot), [streaming API](https://developer.gitter.im/docs/streaming-api).

I

[2017-06-01 08:44] DravitLochan commented on #212
@Orbiter @mariobehling Please guide!

[2017-06-01 09:26] chiragw15 commented on #212
@DravitLochan I went through each and every issue on the tracker before opening this issue to avoid duplicated. Your issue clearly stated "refactor the docs" which you changed it to "refactor docs and web pages" **few hours** ago.
![screenshot from 2017-06-01 14_41_37](https://cloud.githubusercontent.com/assets/16978820/26673146/7b7e3e1e-46d9-11e7-8523-6762fe6963be.png)
Please please please don't

[2017-06-01 09:27] chiragw15 commented on #212
Apart from that, this issue is not just about changing "loklak" with "susi" but about changing theme and structure of apps page. May be even implementing it from scratch.

[2017-06-01 09:39] DravitLochan commented on #212
I am sure you did go through all the issues and tried to avoid duplicates. I did not intend to demotivate you and hence I mentioned that " It did not mention app/web pages but I am already working on it." Theme looks good to me hence I focused on changing loklak to susi and make changes in relevant information only.
Cheers

[2017-06-01 09:50] chiragw15 commented on #212
`"It did not mention app/web pages but I am already working on it"`
This is not how fossasia or any other open source organization works. You have to clearly state in the issue what are you working on. How can other people know what are you working on if you don't clearly mention the issue. If I create an issue regarding "updating loklak to susi in docs", it means I will update loklak to susi in d

[2017-06-01 09:56] DravitLochan commented on #212
okay! My bad. Please continue with your work

[2017-06-01 10:01] chiragw15 commented on #212
No, I have just started it. You are doing it for long time. Continue it. Let's be effective and work more. But next time please create relevant issues. :+1:

[2017-06-01 14:14] dynamitechetan commented on #211
As per discussion with team, I will work on UI for this, @DravitLochan  and @saurabhjn76 will work on API Integration.
This needs #214 and #207 merged.

[2017-06-01 17:49] #210 closed

[2017-06-01 18:23] betterclever opened #217 "Docker based image build using dockerfile is failing"
**Actual Behaviour**
After merge of PR #191, the Susi Server now depends on other repositories as a sub-module, the relevant commands to add sub-modules recursively is not added to Dockerfile, as a result, docker image build fails.

**Expected Behaviour**
The installation should work.

**Steps to reproduce it**
run ```sudo docker build https://github.com/fossasia/susi_server.git```

**LogCat for t

[2017-06-01 22:53] betterclever commented on #217
[code]

@Fluepke even after adding
[code]
I am having the above build fail for docker. The build is however passing in local environment.
Can you look into it please?

[2017-06-02 04:05] DravitLochan opened #219 "Add Shazam like feature"
**Actual Behaviour**
No such implementation which returns name of a song when a small audio is passed to it.

**Expected Behaviour**
Similar to Shazam, if a user says for example "Susi find this song for me", ios and android client should start recording the song being played and report the name of the song.

**Steps to reproduce it**
This recorded audio will be evaluated with the help of an algor

[2017-06-02 08:54] Fluepke opened #221 "Analysis of https://github.com/loklak/loklak_server/issues/547"
For implementing the **wiki system** we need a fine grained **AAA** system (_authorisation_, _authentication_, _accounting_).

As this was an already an [issue](https://github.com/loklak/loklak_server/issues/547) within the loklak project, we need to figure out the current situation and the necessary changes.

### What is currently there?
* **json** file backed persistence layer (see `JsonTray.jav

[2017-06-03 06:39] DravitLochan commented on #110
@mariobehling We can add a RegEx to check if the user is sending a query composed solely of blank spaces. Please assign it to me so that I can resolve this issue.

[2017-06-03 06:56] Orbiter commented on #221
About first point:
To be able to run susi with fail-over, i.e. within a kubernetes environment, we actually need a AAA database externally from susi. But we also need that database for other settings. We would need it for the Accounting data. We must try to find a common solution for all that common data storage. A nosql solution as Florian suggests may be appropriate.

Here we should start an ass

[2017-06-03 07:14] Orbiter commented on #208
added a length parameter in https://github.com/fossasia/susi_server/commit/d64ab795663846077c98896404585c203b583f7b

The skill takes now a 'length' attribute which limits the number of lines for the given number.

Please test the skill and add a client implementation.
For details, see https://github.com/fossasia/susi_server/commit/d64ab795663846077c98896404585c203b583f7b

[2017-06-03 07:30] DravitLochan opened #223 "Auto focus attribute in input field on http://api.susi.ai"
**Actual Behaviour**
After opening the page, user has to explicitly click on the input bar

**Expected Behaviour**
Adding this attribute, It will automatically focus on the input field.

**Would you like to work on the issue?**
yes

[2017-06-03 08:45] dynamitechetan commented on #221
@Fluepke  can you explain more why do we need groups?

[2017-06-03 08:47] Orbiter commented on #123
here is the meat:
https://github.com/duckduckgo/zeroclickinfo-fathead/tree/master/lib/fathead

[2017-06-03 10:18] Orbiter opened #226 "replace public transit submodule with downloaded library"
As discussed with @mariobehling we want to keep it as premise to not use submodules in this project. Submodules will cause deployment problems.

The public transit library as introduced in https://github.com/fossasia/susi_server/pull/191 shall be replaced with a direct download command in the gradle build script. The build script must check if the library has been downloaded so far and do nothing

[2017-06-03 10:53] amitiwary999 commented on #110
@DravitLochan What do you mean by query composed solely of blank space? You mean user send nothing but only blank space i.e empty query?

[2017-06-03 11:48] #223 closed

[2017-06-03 12:10] DravitLochan commented on #110
exactly!

[2017-06-03 14:38] amitiwary999 commented on #110
@DravitLochan it can be solved at client side. Like in susi  android app you can't send blank message.

[2017-06-03 14:53] DravitLochan commented on #110
You may handle it at client site, but we also need to take care about
api.susi.ai
Hence better we handle it at server only. (Similar to other actions).

On 03-Jun-2017 20:08, "Amit Tiwary" <notifications@github.com> wrote:

[2017-06-03 15:43] isuruAb opened #227 "Installation guid does not have all steps"
**Actual Behaviour**

documentation does not have all steps and it contains extra double quotes

[2017-06-03 17:30] DravitLochan commented on #208
@Orbiter I think it is not complete yet. I tested it on [this](http://dream.susi.ai/p/images) dream. The API by default sends 10 links. I added length = 5 in etherpad but still there are 10 responses. Please see.

[2017-06-03 19:17] Orbiter commented on #110
fixed

[2017-06-03 19:17] #110 closed

[2017-06-04 05:51] DravitLochan opened #229 "Update the live demo link present here -> http://susi.ai/#!/"
**Actual Behaviour**
The button redirects http://susi.ai/chat which is the previous version.

**Expected Behaviour**
It should redirect http://chat.susi.ai/

**Steps to reproduce it**
Change the aref tag.

**Would you like to work on the issue?**
Yes

[2017-06-04 06:08] #229 closed

[2017-06-04 07:19] Manveer695 commented on #216
I have got a solution. The [Streaming API](https://developer.gitter.im/docs/streaming-api) is the API that will help us get notified when a user messages to a chat room. The [REST API](https://developer.gitter.im/docs/rest-api) is the API that helps to send a message to a chat room. So, whenever a user will message to a SUSI chat room, the streaming API will notify us. The message received can the

[2017-06-04 08:01] #206 closed

[2017-06-04 08:12] #213 closed

[2017-06-04 09:28] dynamitechetan opened #230 "Remove Loklak title from PieChart Servlet."
**Actual Behaviour**
The PieChart Servlet on SUSI Server has a header which has loklak written on it.
![image](https://cloud.githubusercontent.com/assets/14369357/26760284/24ed7ac8-4932-11e7-9e9e-ebf87430901d.png)

**Expected Behaviour**
Change Loklak Visualizes - PieChart to Susi Visualizes - PieChart
**Steps to reproduce it**
http://api.susi.ai/vis/piechart.png?data={%22ford%22:%2217.272992%22,%

[2017-06-04 11:43] saurabhjn76 opened #232 "Server Error 500 while accessing http://api.asksusi.com/susi/chat.json"
**Actual Behaviour**
Some time [http://api.asksusi.com/susi/chat.json](http://api.asksusi.com/susi/chat.json) throws 500 server error while querying.

**Expected Behaviour**
It should not give such error.

**Steps to reproduce it**
It is possibly due to  json of type  [http://api.football-data.org/v1/competitions/398/teams](http://api.football-data.org/v1/competitions/398/teams) in dream [football

[2017-06-04 13:13] DravitLochan commented on #219
@mariobehling Please advice that do we need to work on this right now or not?

[2017-06-04 13:57] #230 closed

[2017-06-04 17:50] DravitLochan opened #235 "Reset password field in login if password is wrong"
**Actual Behaviour**
Currently user has to explicitly flush the values from password field in case of wrong password.
**Expected Behaviour**
If password is wrong, the password field should reset automatically.
**Steps to reproduce it**
Change in javascript file to reset on wrong password.

**Would you like to work on the issue?**
Yes.

[2017-06-04 20:27] saurabhjn76 opened #236 "Geocoding and SusiTutorialTest are failing"
**Actual Behaviour**

Currently, 2 out of 15 tests are failing.

- SusiTutorialTest

- Geocoding Test

**Expected Behaviour**

All test must pass.

**LogCat for the issue**

- **SusiTutorial Test** -
    ** fail for: Ciao
    ** expected: Hello
    ** returned: Heisst das jetzt Hallo oder Tschuess?

   ** fail for: For one dollar I can buy a beer
   ** expected: Yeah, I believe one dollar is a god

[2017-06-04 20:41] #211 closed

[2017-06-04 20:55] saurabhjn76 commented on #236
For SusiTutorial Test
- `Ciao `is giving `Heisst das jetzt Hallo oder Tschuess?` as written in [GermanStandaloneaiml2susi](https://github.com/fossasia/susi_skill_data/blob/master/models/general/smalltalk/de/German-Standalone-aiml2susi.txt).
Also for
- `For one dollar I can buy a beer` is giving `And another?` as written in [English-Standalone-aiml2susi.txt](https://github.com/fossasia/susi_skill_d

[2017-06-05 03:16] DravitLochan commented on #110
Still giving error. Please check!

[2017-06-05 06:21] Manveer695 commented on #216
The working model of SUSI AI integration to Gitter can be checked [here](https://gitter.im/Susi-AI/Lobby). As said earlier, Streaming API and Rest API were the resources used for this purpose. Hence, closing the issue.

[2017-06-05 06:22] #216 closed

[2017-06-05 08:17] dynamitechetan opened #238 "Server Error 500 on accessing map servlet"
http://api.susi.ai/vis/map.png?text=Test&mlat=1.28373&mlon=103.84379&zoom=18
this link returns.
[code]

[2017-06-05 10:48] DravitLochan commented on #167
@amitiwary999 Please proceed with closing the issue as now we have a memory servlet and open in respective client's repo to implement it there. :)

[2017-06-05 10:49] DravitLochan commented on #164
@chashmeetsingh @uday96 Is it solved or needs to be looked after?

[2017-06-05 10:50] DravitLochan commented on #161
Please close this issue as your pr looks promising.

[2017-06-05 10:51] chashmeetsingh commented on #164
not yet. Need responses for pie-chart and rss.

[2017-06-05 10:53] uday96 commented on #164
Also, there's  a diagram type. Need responses for diagram type too.

[2017-06-05 10:56] #161 closed

[2017-06-05 11:00] #184 closed

[2017-06-05 11:04] dynamitechetan commented on #172
I already found it in the java code. If we need a script especially for this we can open this issue later.

[2017-06-05 11:04] #172 closed

[2017-06-05 11:06] DravitLochan commented on #156
@mariobehling @Orbiter I'd like to work on this issue. we can add an attribute "request_action" which will define the nature of request (GET/POST) while calling an external API. If it is POST then ask for attribute names and their values.

[2017-06-05 11:12] DravitLochan commented on #143
@Orbiter  Does this needs to be implemented?

[2017-06-05 11:13] #138 closed

[2017-06-05 11:18] #232 closed

[2017-06-05 11:21] #148 closed

[2017-06-05 11:22] #202 closed

[2017-06-05 11:29] DravitLochan commented on #112
Please assign if it is still pending.

[2017-06-05 11:32] saurabhjn76 commented on #73
I would like to work on this issue.

[2017-06-05 11:50] DravitLochan commented on #164
@uday96 As stated [here](https://github.com/fossasia/susi_skill_data/blob/master/README_susi_skill_language_tutorial.md#table-actions), Right now we do not have support for responding to diagram type query.

[2017-06-05 12:01] uday96 commented on #164
Yea, but I also had that doubt. But check this out :https://github.com/fossasia/chat.susi.ai/issues/72
Must confirm it once

[2017-06-05 12:17] #167 closed

[2017-06-05 12:25] mariobehling opened #240 "Deploy development branch and master branch to Google Cloud with Kubernetes"
Most developers have already deployed the l[SUSI.AI server to Google cloud](https://github.com/fossasia/susi_server/wiki). How can we now automate this process and automatically deploy SUSI.AI to the cloud.

There should be two deployments:
1. Deployment from development branch for testing.
2. Deployment from master branch for production.

Before we switch the SUSI.AI domain to the cloud deploymen

[2017-06-05 17:29] Orbiter opened #242 "Susi Wiki Concept"
This is a concept for the management of the skill repository https://github.com/fossasia/susi_skill_data
aka
The "Susi Skill Wiki"

We want a personal assistant where the users are able to write and edit skills in the most easiest way that we can think of. To do that we develop:
- a very simple skill language
- a very simple skill editor

The skill editor should be done as a 'wiki'-like system as

[2017-06-05 17:41] Orbiter commented on #242
Please open issues for all API endpoints and work on them:
* place the work to https://github.com/fossasia/susi_server/tree/development/src/ai/susi/server/api/cms
* omit historization for the first implementation step, we do this later
* omit authorizaton for the first implementation step, we do this later
* every call to the API endpoint must use the 4-tuple `{model, group, language, expert}` as

[2017-06-05 18:17] dynamitechetan opened #244 "listing of experts for given {model, group, language}"
for issue  #242  Susi Wiki Concept
I am working on this

[2017-06-05 18:20] saurabhjn76 opened #245 "Create API endpoint for listing of languages for given {model, group, expert}"
refer to issue #242 for more details
**Would you like to work on the issue?**
Yes

[2017-06-05 18:34] chiragw15 commented on #242
IBM Watson conversation is similar to susi skill wiki. It lets you develop your own skills and train them on their model. They also have structure similar to susi skill wiki. The have workspaces, intents, dialogs, entities etc. It is not that similar but the concept is same: Let user define his own skills. We can make front end similar to it (ref image http://nicolasquintero.com/img/work/convo_8.p

[2017-06-05 18:37] DravitLochan opened #246 "listing of groups for given {model}"
Related to issue #242 , I am implementing a servlet which returns list of groups for a given model

[2017-06-05 20:10] saurabhjn76 opened #248 "listing of models for given {}"
refer #242  for more details.
I would like to work on this.

[2017-06-06 06:32] Orbiter commented on #242
@chiragw15 good point, yes that can be an inspiration, lets point out which details we could use for Susi as well

[2017-06-06 06:35] chashmeetsingh opened #252 "Adding a video/audio action type"
**Actual Behaviour**

Currently `mixcloud` is searched and the webpage address is given which may/may not contain data.

**Expected Behaviour**

An action type of an audio/video should be returned + the audio/video file url that needs to be played.

**Steps to reproduce it**

http://api.asksusi.com/susi/chat.json?timezoneOffset=-330&q=play+wildest+dreams
Above query will help.

[2017-06-06 07:01] chiragw15 commented on #252
Proposed implementation : Make a skill with query " play * " . Use youtube api to fetch list of videos with search query $1$ . Send the list of first 10 urls of the video fetched from youtube api to client along with action type "play". eg
[code]

[2017-06-06 07:03] chashmeetsingh commented on #252
Yes, let's create one for it then.

[2017-06-06 07:28] #244 closed

[2017-06-06 08:35] jyoth1raditya commented on #242
Thanks for guidance @Orbiter 👍

[2017-06-06 10:29] dynamitechetan opened #253 "deletion of an expert including it's history (consider this really needs different rights)"
Progress for issue #242

[2017-06-06 18:25] #238 closed

[2017-06-06 18:29] dynamitechetan opened #258 "Api Endpoint for modifying an expert, modifying the history for that expert"
Continuation of issue https://github.com/fossasia/susi_server/issues/242

[2017-06-06 18:30] saurabhjn76 opened #259 "creating experts, create a history for that expert"
Please refer to #242 for more details.
I would like to work on this.

[2017-06-06 18:48] #253 closed

[2017-06-07 07:27] Manveer695 opened #260 "After sometime Susi gitterbot stops responding."
**Actual Behaviour**
After some time of deployment, to Heroku, the Susi account in Gitter stops responding.

**Screenshots of the issue**
<img width="465" alt="gitterreplystop" src="https://user-images.githubusercontent.com/20307535/26866900-cffb83d8-4b80-11e7-94b3-511f39c64cdc.PNG">

**Would you like to work on the issue?**
Yes, I am working on this issue.

[2017-06-07 09:23] uday96 opened #261 "Memory servelet support for displaying entire chat history"
**Actual Behaviour**

As of now, the clients use the memory servelet - https://github.com/fossasia/susi_server/commit/7d6245904c995a3aa5452e1ddbc99c35bddc9d86 to get chat history. But the servelet returns only 10 recent messages.

**Expected Behaviour**

We need a method in which we must be able to get the entire user history and not just a recent 10 or few.

Few ideas:
 1.  Removing the cognition

[2017-06-07 10:08] chiragw15 commented on #261
@uday96 in second approach we will also need to send number of messages along with reponse. Like suppose total number of messages of user are 27. So, first and second response will include "numberOfMessages = 10" , the third one will include "numberOfMessages = 7" and the fourth one will include "numberOfMessages = 0". So, now since we have numberOfMessages = 0 , we know that there are no more mes

[2017-06-07 10:13] saurabhjn76 commented on #261
@uday96 @chiragw15 sounds good !!

[2017-06-07 10:16] uday96 commented on #261
@chiragw15 Yes, that sounds good. Also, I have a doubt, in the meantime while we make queries for history, in case the user converses with susi, will the current conversation also be recorded in the history? If so, we need a method to get the history accordingly avoiding duplications as the indices of the history messages in the cognitions will change. Any ideas?

[2017-06-07 10:26] #248 closed

[2017-06-07 10:26] #245 closed

[2017-06-07 10:28] chiragw15 commented on #261
@uday96 No, we will only make queries for history when user scrolls up. Lazy Loading technique.

[2017-06-07 10:33] uday96 commented on #261
@chiragw15 No, thats fine, what i meant was, the current session messages will also be stored as history right? Initially when the session just started, if the user history is say 100 (1-100) messages, and we make our first call to get 10 (1-10) recent messages. Suppose the user continues to chat for some time and has 5 new messages in the current session and then scrolls up, we then make a call t

[2017-06-07 10:38] uday96 commented on #261
So, in that case my idea is to send the count of messages currently present in the client so that the servlet just has to return count - count + 10.
For ex: initial call : count=0, so servelet returns 0-10
   For next call when user has some 5 new messages in the current session + 10 history messages previously queried: count=15, so servelet return 16-25 (here im assuming the current messages have

[2017-06-07 10:41] chiragw15 commented on #261
Yes, I got the problem with this approach now. This approach shall not work then. There will be duplicates if a user queried. Different approach :
Instead of sending group number along with query, we can send somehow send a reference (don't know what's reference gonna be, maybe exact query_time of the message, It will be different for all messages) to the last message we have on client and get nex

[2017-06-07 10:52] uday96 commented on #261
@chiragw15 If the sync between client and history has very little delay, the count approach will work i guess. If it takes time to sync, I think sending an identifier or reference for the last message like you said is better. We wouldnt need groupNo also then, just identify the message in cognitions array and return 10 more from there  :smile:

The count approach would be faster as we already know

[2017-06-07 10:56] chiragw15 commented on #261
@uday96 This identifier/reference way, we won't even have to worry about if the messages are being synced or not. It will be fast too. We can find the index of the message in cognitions array in O(logn) time using binary search. There will not be much difference in time taken.

[2017-06-07 10:59] uday96 commented on #261
@chiragw15 True, I agree. Im also in for the message identifier method :+1:

[2017-06-07 11:05] uday96 commented on #261
```query_date``` or ```answer_date``` could be used as identifier and the response must also include remaining messages in history so that client knows when to stop making calls like you suggested.
This sounds like the final working model? @chiragw15 Right?

[2017-06-07 11:13] chiragw15 commented on #261
Yes, we can use query_date and answer_date. There won't be any problem with it, I guess. Alternatively, if possible, we can also define a new reference as "message_id" which can be send in the response and then use it as reference. We need to confirm it from @Orbiter if this is possible. This way will be better. But if it's not possible, the query_date reference is fine.

[2017-06-07 17:11] AliAyub007 opened #264 "Image action type"
**Actual Behaviour**

Currently there is no image action type to return images. In bots image response I am applying checks like if (isURL and contains .jpg) then return image type message.

**Expected Behaviour**

There should be an image action type to return images.

**Screenshots of the issue**

![responseimage](https://user-images.githubusercontent.com/25840461/26891346-22923fea-4bce-11e7-929

[2017-06-08 08:41] dynamitechetan opened #265 "Create history while creating an expert"
Continuation of issue #242

[2017-06-08 09:09] saurabhjn76 opened #266 "Authorization of the endpoints considering different rights"
continuation of #242 , as discussed in issue #221, we would be using the linux approach with users and groups. A user can be added to a group. A group may have access rights on a module and a user may as well.

[2017-06-08 09:28] dynamitechetan opened #267 "Historization for Deleting an Expert"
continuation of issue #242.
This will add an API Endpoint which can add a commit to the local repository when an expert is deleted.

[2017-06-08 12:38] mariobehling commented on #267
Please add a proper description. So, we understand what this issue is about in detail. Thanks.

[2017-06-08 12:43] dynamitechetan commented on #267
okay 👍

[2017-06-08 20:59] uday96 opened #269 "Location skill error"
**Actual Behaviour**

**Query :**  http://api.susi.ai/susi/chat.json?timezoneOffset=-120&q=where+am+i
Though the optional parameters latitude and longitude are not given in the server call, the server still returns a map type response but with incomplete information.

**Expected Behaviour**

If the location cannot be given, the action cannot be performed because the information is missing. It is t

[2017-06-09 08:18] dynamitechetan opened #270 "Get commits history for an expert"
This is in continuation of issue #242 . I will be adding an API endpoint to list the commit history of a given expert.

[2017-06-09 12:11] Orbiter commented on #264
I already planned that susi shall have two actions regarding pictures:
- takeimage
- showimage

That looks like it is not related to your expected behaviour, but I believe it should be part of the same concept. The takeimage/showimage concept considers that you may be able to ask susi to *take an image* and then show it afterwards. So taking an image generates an asset storage identification which

[2017-06-09 12:21] AliAyub007 commented on #264
@Orbiter Yes this would be perfect and this is all I think as I would get the type by just parsing the json response from api and then do necessary actions for all bots.

[2017-06-09 12:53] Orbiter commented on #264
The same idea is prepared as keywords for actions already: https://github.com/fossasia/susi_server/blob/development/src/ai/susi/mind/SusiAction.java#L51-L56

That means we should do the same for audio, video and images, both for showing and recording.
Having that in mind, please think about abstraction of these media when doing the implementation.

[2017-06-09 13:32] AliAyub007 commented on #264
If we consider all messenger where susi bots are working there is abstraction of these media types from their end and it will depend on type of response as soon as we get the response type from susi API then those types can be handled easily using messenger APIs that we are using with in bots.

[2017-06-09 19:24] dynamitechetan opened #272 "Historization when an expert is modified."
This is in continuation of issue #242. I will be adding an API endpoint to create a commit to the skill data folder when an expert is modified

[2017-06-10 16:25] #270 closed

[2017-06-10 16:25] #272 closed

[2017-06-10 16:25] #267 closed

[2017-06-10 16:25] #265 closed

[2017-06-10 16:26] #258 closed

[2017-06-10 19:29] #259 closed

[2017-06-11 07:21] dynamitechetan opened #276 "Historization of CreateExpertService"
This is in continuation of issue #242 . I will be adding an API endpoint to commit the history when an expert is created.

[2017-06-11 14:08] jyoth1raditya commented on #264
@Orbiter, I would like to work on image input for susi

[2017-06-11 17:45] saurabhjn76 opened #278 "Add mockup designs for the WIKI"
add the designs for the wiki, once the design is discussed and finalized. We can move forward with implementation steps.

[2017-06-11 18:50] dynamitechetan commented on #278
![image](https://user-images.githubusercontent.com/14369357/27013632-d9ad0c30-4f04-11e7-884e-1d246811cd48.png)

[2017-06-11 22:38] Orbiter commented on #278
Can we have an editor bar above the skill text which contains buttons like "if the user says..." and then, if that was pushed "susi says"/"susi shows an image"/"susi says + provides pre-defined answers"

Like the visual editing buttons in a normal wiki, but here they would write down templates.

[2017-06-12 03:52] chiragw15 commented on #278
@dynamitechetan The mockup looks great. A little suggestion. Can we have a display/hide option for chat to increase workspace area. User can click on that button to hide chat interface, then click on the button again to display it. Like the cross in the top right corner of the photo. What say?
![screenshot from 2017-06-12 09 14 55](https://user-images.githubusercontent.com/16978820/27018741-4481bb

[2017-06-12 06:44] mariobehling opened #279 "Implement Search for "xyz" on [search service]"
Please implement the skill "Search for [search terms/keywords] on [search service]".

What would be the best way to do this?

Starters:
* Mycroft has a list of search engine browser plugins: http://mycroftproject.com
* Findfind.it is a platform with a large list of search providers, that are also available in a JSON here https://www.findfind.it/export

[2017-06-12 07:09] chiragw15 opened #280 "Common UI for all the clients."
**Actual Behaviour**

Right now we have totally different UI for all the clients.

**Expected Behaviour**

There are many other assistants like Siri, Hound, Cortana, Alexa and Google Assistant. What we want is a common UI for all the susi clients (like facebook messenger). So, what we can do is pick all the best items from these assistants, tweak them a bit and come up with a good common UI for al

[2017-06-12 11:39] dynamitechetan commented on #278
@Orbiter  please tell us which one you think is fine
![image](https://user-images.githubusercontent.com/14369357/27032251-a4fe482c-4f91-11e7-8dcc-eabd43d4c6cd.png)
![image](https://user-images.githubusercontent.com/14369357/27032259-addf25a6-4f91-11e7-8f7c-5e6eca200bd0.png)

[2017-06-12 13:50] dynamitechetan opened #281 "List the complete history of the SUSI Skill data folder."
This is in continuation of issue #242. I will be adding an API endpoint to get all the commits from the SUSI Skill data folder.

[2017-06-12 17:37] DravitLochan opened #283 ""ChangeUserRoles" app missing from applist"
**Actual Behaviour**
Since it is implementeed lately, Change User Roles app is missing from applist page.
**Expected Behaviour**
All apps should be displayed with appropriate details.

**Steps to reproduce it**
Add a app.json file to ChangeUserRoles folder.

**Would you like to work on the issue?**
Yes.

[2017-06-13 07:49] Manveer695 commented on #260
It's working now. It can be tested here - https://gitter.im/Susi-AI/Lobby

[2017-06-13 07:49] #260 closed

[2017-06-13 07:50] #178 closed

[2017-06-13 07:50] Manveer695 commented on #177
I think we should close this now, right? @AliAyub007

[2017-06-13 18:35] DravitLochan opened #287 "Servlet to list all the files present in data/settings folder"
**Actual behaviour**
No such servlet to display the files in data/settings folder.

**Expected behaviour**
A servlet to display all the files  in data/settings folder is required so that admin can seletc which file to download.
**would you like to work on this**
Yes

[2017-06-14 08:17] dynamitechetan opened #289 "Add Schema for Handling Groups in AAA"
Currently, there is no schema for handling groups.
I will add a JSON Schema and a set of blank files so that we can work on them collaboratively.

[2017-06-14 11:03] AliAyub007 opened #291 "Deploying Fossasia bot repositories onto heroku instead of our personal repositories"
**Actual Behaviour**

Currently bots are hosted from the repositories that we own not from Fossasia bot repositories.

**Expected Behaviour**

Bots should be hosted from fossasia bot repositories so that if any new feature or change gets pulled to fossasia bot repository it should be deployed automatically.

**Steps to reproduce it**

In order to host bots from fossasia repositories onto heroku I

[2017-06-14 11:19] mariobehling commented on #291
@AliAyub007 Do you need to be owner or admin? Which repository should be the first to try?

[2017-06-14 11:26] AliAyub007 commented on #291
Owner I think because heroku only shows repositories I own for deploying. We can first try with susi_telegrambot [https://github.com/fossasia/susi_telegrambot](url)

[2017-06-14 11:33] mariobehling commented on #291
@AliAyub007 I made you an admin of this repository. If it does not work, we need to work together to make this work from my FOSSASIA owner account.

[2017-06-14 11:55] AliAyub007 commented on #291
@mariobehling Yes it worked. I have successfully deployed telegram bot from Fossasia repository and enabled automatic deployments. Kindly accept this PR ( https://github.com/fossasia/susi_telegrambot/pull/14 )now it will prevent heroku from sleeping after few minutes of inactivity.

[2017-06-14 14:03] mariobehling commented on #291
@AliAyub007 Please get two contributors to approve your pull requests.

[2017-06-14 14:12] AliAyub007 commented on #291
Yes done 👍

[2017-06-14 14:26] mariobehling commented on #278
Please follow the design and colors of the chat app and open relevant issues in the wiki repository. The server tracker is not the right place as we have a dedicated repo and tracker for the wiki. Therefore closing it.

[2017-06-14 14:26] #278 closed

[2017-06-14 15:20] AliAyub007 commented on #291
![admin](https://user-images.githubusercontent.com/25840461/27140298-9d654a8a-513e-11e7-9ed1-ef3b53890eef.PNG)

@mariobehling I got this when I tried deploying other bot repositories.

[2017-06-14 19:06] dynamitechetan opened #292 "Add API Endpoints to List Details of a group"
I will be adding API Endpoints to list the details of a group in AAA

[2017-06-14 19:12] saurabhjn76 opened #293 "Add API Endpoints to create a group"
In continuation #289,#221 I will be adding endpoint for creating a group

[2017-06-14 19:47] DravitLochan commented on #287
same as #111, hence closing it

[2017-06-14 19:47] #287 closed

[2017-06-14 19:48] #246 closed

[2017-06-14 19:48] #235 closed

[2017-06-14 19:49] DravitLochan commented on #112
@Orbiter Just a servlet was required or an app is also required?

[2017-06-15 12:54] DravitLochan opened #294 "Update the APIs(servlets) to keep the flow of server and website"
**Actual Behaviour**
Currently, server looks in the 'html' directory to respond to API calls related to them. For instance to get a list of all the apps, client has to make a call here->http://api.susi.ai/cms/apps.json
To respond to this, what server does is gets the list of apps present in html/apps/ directory and encodes their app.json file as an array and sends to the client.
But now when the s

[2017-06-15 16:21] Orbiter commented on #294
I don't this the `accounts.susi.ai` repository should use http://api.susi.ai/cms/apps.json as endpoint, it should organize itself in a different way. The apps.json should not be altered or adopted for this.

[2017-06-15 16:29] DravitLochan commented on #294
then should we traverse to each app directory and pick the app.json ?

[2017-06-15 18:13] mariobehling commented on #212
The apps page should be deleted as soon as other ways are ready. Therefore closing it.

[2017-06-15 18:13] #212 closed

[2017-06-15 19:17] DravitLochan opened #295 "Servlet to delete a message"
**Actual Behaviour**
No message can be deleted. All the messages are stored in server.

**Expected Behaviour**
Since all the clients are contacting server for previous messages, We should have delete message(s) functionality in all the clients.

**Steps to reproduce it**
Add a servlet which receives a parameter from clients to delete a message.

**Would you like to work on the issue?**
Yes

[2017-06-15 19:19] DravitLochan commented on #295
@mariobehling should this feature be implemented and corresponding issues open in client repos as well?

[2017-06-16 06:05] Orbiter commented on #295
What is a message? And why should we delete it?

[2017-06-16 06:14] DravitLochan commented on #295
We should give an option to user to delete message(s). Those messages which are retrieved from previous logs and displayed whenever a new session of an already registered user is initiated. There could could be multiple reasons a user might want to delete some messages.

[2017-06-16 07:59] Manveer695 commented on #291
@mariobehling Yes sir, we need the access to deploy the susi bot repo's to Heroku. That way we can properly check if the repo present in Fossasia account are working properly or not. Thank you.

[2017-06-16 11:03] mariobehling commented on #291
Please try again. I added admin rights.

[2017-06-16 11:11] Orbiter commented on #289
What is the purpose of groups? This is not a criticism to do that, in fact I believe that we do need the groups but how do we handle them in the context of authorization?

I believe a group should define which servlets can be accessed by a user which is otherwise not allowed to use the servlet. Therefore a group should have a list of servlets that are granted access.

Is that the concept with grou

[2017-06-16 11:26] dynamitechetan commented on #289
Oh. Okay. I thought like we can have user groups like Linux.
For example create a group for admins and a separate groups for privileged users.
Different groups of a privileged users can have different permissions and access rights.
Something like that. But as you are suggesting,  we can also have groups for users which limits their access to some servlets.

[2017-06-16 12:21] mariobehling opened #297 "Setup automatic builds for SUSI Server on Dockerhub"
loklak has an automatic build. Please implement the same for SUSI server on Dockerhub. Request access if needed.

https://hub.docker.com/r/fossasia/susi_server/

[2017-06-16 12:47] rishiraj824 opened #298 "Use Accounting object to read and write user properties"
**Actual Behaviour**

As of now, the **Accounting** object is not used at all to enable clients to throw in user data to the server. Refer https://github.com/fossasia/chat.susi.ai/issues/119#issuecomment-305562267 for more.

**Expected Behaviour**

As pointed out by @Orbiter in chat, in DAO there is an accounting JSONTray object which is not used at all. And there is an accounting_temporary object

[2017-06-16 13:06] AliAyub007 commented on #291
Yes sir working now. Thanks

[2017-06-16 13:55] AliAyub007 opened #299 "Adding SUSI as a skill/action or activity to alexa, google assistant, siri and cortana"
Currently SUSI is active on every messenger that allow bots but it is not present in google assistant, alexa or cortana. If we can add SUSI as a skill or action in these platforms and use their infra structure.

[2017-06-16 14:49] #111 closed

[2017-06-16 16:18] Orbiter commented on #298
We simply need an api endpoint to write to and read from the mentioned object

[2017-06-16 17:26] Manveer695 commented on #291
@aliayub007 let's close this issue then.

[2017-06-17 20:38] mariobehling opened #300 "Implement the storage of account data to enable additional skill"
Think of skills like "SUSI tweet xyz" or "SUSI buy xyz". We need to be able to store account and payment data in SUSI.

[2017-06-18 16:21] DravitLochan opened #301 "Add isimportant attribute in the response"
**Actual Behaviour**
Due to the fact that it was implemented in android app only(that to hardcoded) , it has been removed. There is no such parameter.

**Expected Behaviour**
There should be this parameter isImportant. A separate option should be there to read the question and response to it in each client. Main implementation on server to store isImportant in a message response.

**Would you like

[2017-06-18 18:21] betterclever commented on #301
This is not present in any other assistant currently and personally I don't find its need. Opinions might differ though.

[2017-06-19 01:56] DravitLochan commented on #301
I looked at whatsapp and proposed this. Notworking on this until we get a final decision for it.

[2017-06-19 02:51] betterclever commented on #301
Whatsapp is a messaging app imo. Susi is a personal assistant. Thus, I don't find its utility here.

[2017-06-19 02:59] betterclever opened #302 "Login API is not working"
**Actual Behaviour**

Login API endpoint is not working. It is giving 500 error, even when supplied with correct username and password.

**Expected Behaviour**

This API is crucial and must be working.

**Steps to reproduce it**

Send a GET request to http://api.susi.ai/aaa/login.json?type=access-token&login=LOGIN_EMAIL&password=LOGIN_PASSWORD

or try logging in in any Susi Client

Server with rep

[2017-06-19 03:28] DravitLochan commented on #302
I'd like to work  on this.

[2017-06-19 05:13] AliAyub007 opened #303 "Free Dyno Hours for one month on Heroku got finished"
**Actual Behaviour**

We have hosted our bots onto heroku and they should run 24/7.

**Expected Behaviour**

We are using free services so we have only 550 hours in month to use which got exceeded right now. We should make our bots run 24/7 non stop.

**Steps to reproduce it**

Finding any other hosting option or coming up with new idea for it.

**Screenshots of the issue**

![heroku](https://user

[2017-06-19 06:29] betterclever commented on #303
Suggestion: You may deploy it on Google Cloud Free tier

[2017-06-19 06:32] AliAyub007 commented on #303
As soon as my account will get out of 300$ free amount (which is already 221$ now due to susi_server deployment) it will also stop.

[2017-06-19 08:45] betterclever commented on #302
Fixed in commit https://github.com/fossasia/susi_server/commit/320cc24c82359f4530465c34b3b5d0b525f67de4

[2017-06-19 08:45] #302 closed

[2017-06-19 08:48] mariobehling commented on #303
@AliAyub007 I think for us Heroku is a test service. We need to move to a more advanced set up.
1. Development branch -> deployed for testing on Heroku
2. Master branch -> deployed elsewhere for production (to be decided)

Therefore we don't need a keep it alive 24/7 on Heroku.

This project is both a) a software projcet and b) a service.

We don't consider b) the service in production right now a

[2017-06-19 08:48] #303 closed

[2017-06-19 09:22] AliAyub007 commented on #303
@mariobehling  Oh okay thanks for clarification and guiding.

[2017-06-20 12:57] chiragw15 opened #304 "Link not present for action type "anchor" and query "where am i""
**Actual Behaviour**

[code]

Link is absent in anchor action type.

[2017-06-20 17:54] dynamitechetan opened #307 "Create API Endpoint for getting all groups."
I will be adding an API endpoint to get all the groups created on the server.

[2017-06-20 18:34] #291 closed

[2017-06-20 18:41] AliAyub007 opened #308 "Limiting table type response to 10 top entries"
**Actual Behaviour**

Currently table type response returns as many entries as it contains. query universities in germany? returns 285 results now.

**Expected Behaviour**

It should return top 10 entries and it should contain three columns first two columns with text and third one with url as there should be consistency in table action so that it can be generically implemented in different client

[2017-06-20 19:07] mariobehling commented on #308
@AliAyub007 This number of displayed results should probably be implemented in the client and there could be a button "more" if there are a lot of entries.

[2017-06-20 19:21] AliAyub007 commented on #308
Yes I thought of it but when I tried there was limit to send data from client like I couldn't send more than 12 entries so that's why. However trying to figure it out in a way. Hope will do it. 👍

[2017-06-20 21:30] uday96 commented on #308
Table type reponses also have a count attribute now which tell the client how many entries must be shown and for the query `universities in germany` , count = -1 which means server is asking the client to show all entries. I dont think the client should handle this, updating the relevant skill for universities in germany type queries should fix this.
Or are we talking about the case when the serve

[2017-06-21 19:33] mariobehling opened #309 "Propose and implement connected services and payment details with SUSI"
Imagine a user says to SUSI "Play me a song from Soundcloud", "Get me some Chinese food from Deliveroo", "Buy this product on Amazon".

For this kind of feature we need to connect SUSI to other services and store payment details, e.g. credit card information or paypal details.

Please propose and implement "connected services".

[2017-06-22 21:00] #304 closed

[2017-06-22 22:28] chiragw15 commented on #261
@Orbiter Can you please guide a little on this issue if this is the intended solution for this?

[2017-06-23 06:44] saurabhjn76 opened #312 "Add API endpoint to add members in groups"
In continuation of #221, I will be adding endpoint to add members in group.

[2017-06-24 07:55] dynamitechetan opened #313 "API Endpoint to get all languages available for a group"
I will be adding API endpoint to get languages for a group. This is required for the wiki.

[2017-06-24 08:11] DravitLochan opened #314 "API end point to delete a group"
**Expected Behaviour**
Add an API end point to delete a particular group. This will require admin rights.

**Actual Behaviour**
No Such API exists.

**Would you like to work on the issue?**
Yes

[2017-06-26 04:43] Orbiter opened #316 "File 'groups.json' in data/settings should not be tracked by git"
**Actual Behaviour**

in commit https://github.com/fossasia/susi_server/commit/45cdd0d8a34021557ece64bf8e6993eff5b33069 the file groups.json was added to git within the path data/settings.
The data path should be inside of gitignore and not be tracked by git.
Files cannot be added there.

**Expected Behaviour**

If susi_server expects that file upon startup, it must be generated.

**to do**

- rem

[2017-06-26 14:56] jyoth1raditya commented on #297
@mariobehling, I am working on this. I need access of fossasia account to build auto-builds of susi.

[2017-06-26 15:42] rishiraj824 opened #318 "RSS action type giving empty description field and not returning images."
**Actual Behaviour**

The response generated from the RSS action type does not have images and has empty description fields. The clients are currently using external libraries to show the RSS feed data.

iOS client is using : https://github.com/LeonardoCardoso/SwiftLinkPreview
android client is using : https://github.com/LeonardoCardoso/Android-Link-Preview

**Expected Behaviour**

The scraping ca

[2017-06-27 06:20] #316 closed

[2017-06-27 09:37] saurabhjn76 opened #320 "bug in UserSettings endpoint"
The listUserSettings is not working as expected.
**Screenshot**
![image](https://user-images.githubusercontent.com/9781788/27580863-9c1e3dfc-5b49-11e7-859a-e5979a626657.png)
It should show UserSettings for particular Identity.

[2017-06-27 12:49] #320 closed

[2017-06-27 17:06] Orbiter commented on #236
These test failures are often cause by alternate skills which match also with the given query and have a different outcomes. To fix this, you must find the actual skills which produce the unexpected outcome and think about if they can be replaced or if the test is applicable in that way at all.
Yes it's a beast.

[2017-06-27 17:08] saurabhjn76 commented on #236
@Orbiter :+1: , I think in this case test can be modified.

[2017-06-28 09:57] DravitLochan opened #325 "Implementing new action type : playaudio"
**Expected Behaviour**
Alert clients to play different type of audios. These might be coming from a URL(URL encoded as JSON object) or  maybe present locally with the client itself.

**Steps to reproduce it**
More research and discussions are required on this.

**Would you like to work on the issue?**
Yes

[2017-06-28 10:49] Orbiter opened #326 "add boolean flag which indicates success or failure in ALL servlets"
**Actual Behaviour**

Most (if not all) servlets in the aaa path do not indicate if the servlet result is a success or a failure. They only have a message content which describes if the outcome of the servlet was a success or not. A client must currently parse that to know if the call was a success. That is not a good concept.

**Expected Behaviour**

All servlets should return two objects in they

[2017-06-28 14:58] saurabhjn76 commented on #326
I would like to work on this issue

[2017-06-28 16:28] #293 closed

[2017-06-28 16:29] saurabhjn76 commented on #236
fixed

[2017-06-28 16:29] #236 closed

[2017-06-28 17:13] Orbiter commented on #326
IMPORTANT!

it is does actually matter that the value for "accepted" is **boolean**, not **string**!
Yes I have chosen boolean on purpose! Yes that type actually exist for json!

If we are not able to implement a API definition, we will not be able to use the advantages that it provides. And this is not simply a "should look nice" requirement, it is here to make sure that things work smoothly.

[2017-06-28 17:14] saurabhjn76 commented on #326
@Orbiter :+1: I will take care of this

[2017-06-28 17:35] #313 closed

[2017-06-28 17:36] #307 closed

[2017-06-29 03:47] DravitLochan opened #327 "implement new action type : set alarm"
**Expected Behaviour**
implement an action type which allows users to set alarms.

**Steps to reproduce it**
handle query at server and respond accordingly to clients.

**Would you like to work on the issue?**
Yes

[2017-06-29 03:50] #314 closed

[2017-06-29 03:51] #283 closed

[2017-06-29 08:50] #281 closed

[2017-06-29 08:50] #289 closed

[2017-06-29 08:50] #292 closed

[2017-06-29 08:50] #276 closed

[2017-06-29 09:08] DravitLochan commented on #327
Initially what we can do is that when the server receives a request, it is processes it and sends the response to the respective client making the request.
@Orbiter Are we also handling the case that when a user makes a call for alarm via web chat client, it also sets his alarm in android and iOS?

[2017-06-29 09:25] saurabhjn76 opened #328 "create a servlet for rating a skill"
The first step for implementing user feedback system for susi skills as discussed in [https://github.com/fossasia/chat.susi.ai/issues/247](https://github.com/fossasia/chat.susi.ai/issues/247)
create a servlet and store likes and dislikes of a skill as rated by user.

**Would you like to work on the issue?**
Yes

[2017-06-29 09:41] dynamitechetan opened #329 "Create a servlet for getting the ratings/feedback of a skill"
implementing user feedback system for susi skills as discussed in fossasia/chat.susi.ai#247
create a servlet to get likes and dislikes of a skill as rated by user.

Would you like to work on the issue?
Yes

[2017-06-29 10:17] dynamitechetan opened #330 "get Permissions of a group"
I will be adding API endpoint to get permissions of a group.

[2017-06-29 10:19] dynamitechetan opened #331 "Modify Create Group endpoint to accept Group Permissions"

[2017-06-29 14:25] DravitLochan commented on #327
Should it be implemented as rss type or other action types (where users can make skills using that action type)?

[2017-06-29 14:36] DravitLochan opened #333 "Get description from the user who dislikes a response"
implementing user feedback system for susi skills as discussed in fossasia/chat.susi.ai#247
create a servlet to get reason for dislike of a skill as rated by user.

Would you like to work on the issue?
Yes

[2017-06-29 16:46] DravitLochan commented on #318
@Orbiter I tried to find out why description is missing but it seems it is implemented in the similar way as title and link are implemented. Please help us out!

[2017-06-29 17:58] Orbiter commented on #327
I dont't know how to explain. We discussed this in detail. If you believe a rss action type is an option here then you did not understand why we use actions and specific actions for the one and only purpose of that action only.

Hint: https://github.com/fossasia/susi_server/blob/development/src/ai/susi/mind/SusiAction.java#L49

[2017-06-30 10:16] Laughing-Boy opened #336 "Process user ratings in feedback system"
We can use a variety of machine learning techniques for processing user feedback system for susi skills as discussed in fossasia/chat.susi.ai#247

Would you like to work on the issue?
Yes

[2017-06-30 10:18] DravitLochan commented on #269
@uday96 Until we do not have location details on the server for the user, It is not possible to get this result from the server.

[2017-07-01 04:37] DravitLochan commented on #326
@Orbiter Should it be extended for other paths (cms, susi, stc) as well?

[2017-07-03 07:20] saurabhjn76 opened #338 "Move groups endpoint from cms to aaa"
**Actual Behaviour**
Groups are the part of AAA thus there endpoints should be moved to aaa instead of cms.
change the endpoints GetGroupDetails.java and grouplistService.java to aaa.

Please let us know if you can work on it or the issue should be assigned to someone else.
yes

[2017-07-03 17:14] dynamitechetan commented on #69
@mariobehling  working on this issue.

[2017-07-04 16:52] dynamitechetan opened #342 "Modify Skill History listing service to List author name"

[2017-07-06 07:53] DravitLochan opened #345 "separate implementation of cahnge password and password recovery"
**Actual Behaviour**
currently if a user has to reset/change his password they need to go to recover password. From there a mail is sent to their email id which has a token in it. This link allows user to reset the password.

**Expected Behaviour**
password recovery and reset/change password are 2 different things. If a user knows his current password, simply allow them to change their password.

[2017-07-06 13:35] dynamitechetan opened #347 "Every Endpoint is giving JSON response two times."

[2017-07-06 13:44] dynamitechetan opened #349 "Endpoint to get skill text in JSON Format"

[2017-07-07 07:19] amitiwary999 opened #355 "Change action type of web search reply from answer action type to websearch action type"
**Actual Behaviour**

in case of query like 'search for dog' susi reply with action type 'answer' but susi's reply is different than 'answer' action type.

**Expected Behaviour**

Action type should be 'websearch' so that it can be parse properly in client side

[2017-07-08 10:06] pa1pal opened #356 "Open Phimpme app when user ask for taking a picture or other similar command"
**Actual Behaviour**

We would like to have a feature where Susi app open the [Phimpme Android app](https://github.com/fossasia/phimpme-android) (if installed), when User ask for _"Take a pic", "Take a picture", "I want to edit the image", "Open image editor"_ etc..

**Expected Behaviour**

Launch Phimpme app app in case of above User commands.

[2017-07-08 10:14] DravitLochan commented on #356
We are in transit of implementing this on the server. Will follow  you up on the issue.

[2017-07-08 10:15] pa1pal commented on #356
@DravitLochan sure.

[2017-07-08 13:31] dynamitechetan opened #357 "Add Swagger UI on gh-pages."

[2017-07-08 13:50] DravitLochan opened #359 "Change recovery mail base URL."
**Actual Behaviour**
Currently previous version of accounts is being used for resetting the password.

**Expected Behaviour**
Accounts is being shifted to http://accounts.susi.ai and an application to reset password in being implemented there. We will use that from now on.

**Would you like to work on the issue?**
Yes

[2017-07-09 11:27] mariobehling opened #360 "Add "Edit" link to Analyse skill"
On the input "Analyse" SUSI show "My previous skill is defined in...", please add an "edit" option in a line below the current answer as follows:

`You can help to improve this skill and [edit it in the code repository here](add the correct link here).`

![screenshot_2017-07-09-13-18-15](https://user-images.githubusercontent.com/1583873/27993357-e1de904e-64a9-11e7-8948-4442cff0b679.png)

[2017-07-09 12:19] saurabhjn76 commented on #360
I would like to work on this

[2017-07-10 07:21] meriki opened #362 "Update eclipse installation doc"
**Actual Behaviour**
The steps to install Susi on Eclipse IDE lists SusiServer.java under `org.loklak`. Also, the gradle build fails due to a git submodule dependency on transporter module.

**Expected Behaviour**
Change the path to the SusiServer.java file and add commands to fix the dependency issue.

**Steps to reproduce it**
Setup susi_server on an IDE like eclipse/intellij

**Would you like t

[2017-07-10 18:08] mariobehling commented on #360
@saurabhjn76

The current result of the output is as below: Instead of "edit the code here" and then the link, the idea was that "edit the code here" is linkified. Please help to fix this.

<img width="337" alt="screen shot 2017-07-10 at 2 53 24 pm" src="https://user-images.githubusercontent.com/7692626/28011337-9c205fb6-657f-11e7-94fa-eab304e9a179.png">

[2017-07-11 22:24] amitiwary999 opened #365 "Sometimes in case of rss action type susi provide result less than count."
**Actual Behaviour**

Number of result provided by susi is less then count in case of rss action type.

**Expected Behaviour**

Number of result and count should be same otherwise it will create problem in client

**Example**
query 'ffgh'

"data": [
      {
        "title": "Browse: Top Level Community Video",
        "description": "",
        "link": "https://archive.org/browse.php?collection=op

[2017-07-12 04:40] DravitLochan commented on #365
on  querying "ffgh",
`
{
	"query": "ffgh",
	"count": 1,
	"client_id": "",
	"query_date": "",
	"answers": [{
		"data": [{
				"title": "Browse: Top Level Community Video",
				"description": "",
				"link": "https://archive.org/browse.php?collection=opensource_movies&field=creator",
				"0": "ffgh",
				"1": "ffgh",
				"timezoneOffset": "-330",
				"answer": "I found this on the web:",
				"skill_

[2017-07-12 07:46] amitiwary999 commented on #365
So how can we decided number of result we have to show in client. Like there is only 1 result for 'ffgh' but for 'god' 10 result.

[2017-07-12 12:08] imujjwal96 opened #366 "Javadocs are no more published to gh-pages"
### Description
The logic for publishing javadoc exists in the `.utility/push-docs-to-gh-pages.sh` script. Unfortunately, there seems to be some error due to which the javadoc's generated documentation content is not being published anymore.

Discussing with @pri22296  in https://github.com/fossasia/yaydoc/issues/255, it was found that

Comparing relative commits in gh-pages branch:  https://githu

[2017-07-12 14:10] dynamitechetan commented on #366
I am working on implementing swagger for API documentation. Do we still need javadocs?
@mariobehling @saurabhjn76 @DravitLochan  please give your views.

[2017-07-12 17:15] saurabhjn76 commented on #360
@mariobehling the current PR linkifies the text, in web-client, it is working,
![image](https://user-images.githubusercontent.com/9781788/28130198-c04273ea-6753-11e7-95e7-5897a2f5a25c.png)

 for android, I have opened https://github.com/fossasia/susi_android/issues/834. @chiragw15  Please help in fixing it. thanks

[2017-07-12 20:24] aksh98 opened #368 "Buildpack URL in app.json"
In reference to PR #286

**Actual Behaviour**
The Buildpack URL in app.json points to a .md file.

**Expected Behaviour**
It should be a Buildpack URL for Gradle.

**Would you like to work on the issue?**
Yes

[2017-07-13 02:40] chashmeetsingh opened #369 "Query for map action not working anymore"
**Actual Behaviour**

 The query returns an answer and RSS action type.

**Expected Behaviour**

The query should return 3 actions namely, answer, map and anchor.

**Steps to reproduce it**

Try the query `Where is Singapore`.

**Would you like to work on the issue?**

No.

[2017-07-13 15:33] aksh98 commented on #368
Solved by PR #370

[2017-07-13 15:33] #368 closed

[2017-07-13 19:47] mariobehling opened #371 "Reset Password directs to asksusi.com and does not reset password"
Reset Password directs to asksusi.com and does not reset password.

Expected: Reset password directs to accounts.susi.com, where the functionality is implemented.

![screenshot from 2017-07-13 21-46-05](https://user-images.githubusercontent.com/1583873/28184723-c2c2d4fe-6814-11e7-801a-9faca82a1d12.png)

[2017-07-14 08:59] mariobehling commented on #371
@DravitLochan  The password reset still does not work.

[2017-07-14 09:07] DravitLochan commented on #371
1. This code needs to be merged on the original server.
2. gh-pages branch is not updated. Updating right now.

[2017-07-14 11:37] uday96 commented on #365
@DravitLochan I think the `count` attribute in
[code]
Tells the number of results to display i.e `min(length(response.answers[0].data), count)` should be displayed from response.answers[0].data where `count` is response.answers[0].actions[1].count in this case

[2017-07-14 14:47] amitiwary999 commented on #365
@uday96 but problem is for some queries like 'ffgh' data is less then count.

[2017-07-14 14:52] uday96 commented on #365
@amitiwary999 Oh okay. As of now to handle it you can display `min(length(response.answers[0].data), count)` results then on the client side until its fixed on server side :+1:

[2017-07-15 02:40] #369 closed

[2017-07-15 08:28] DravitLochan opened #374 "Some of the aaa end points still do not return appropriate message and boolean flag"
**Actual Behaviour**
There are some servlets left which still do not return appropriate status message and status flag.

**Expected Behaviour**
In reference to #326 , all aaa servlets should return a message and a boolean flag in the response.

**Steps to reproduce it**
Find out all the left over such servlets and add missing attributes in the response.

**Would you like to work on the issue?**
Ye

[2017-07-15 12:02] saurabhjn76 opened #375 "skillListing API is showing .git files"
**Actual Behaviour**

Currently, [http://api.susi.ai/cms/getSkillList.json?model=general&group=knowledge&language=en](http://api.susi.ai/cms/getSkillList.json?model=general&group=knowledge&language=en) is also showing .gitfiles.
![image](https://user-images.githubusercontent.com/9781788/28239179-66e9b452-6983-11e7-85a0-d724cea64924.png)

**Expected Behaviour**
It should only show skills.

**Would

[2017-07-15 12:02] #328 closed

[2017-07-15 12:36] madhavrathi opened #377 "Handle Change password in server"
**Actual Behaviour**

Currently server is not handling the case where user changes his password to current one.

**Expected Behaviour**

Server should send a prompt which will be shown in respective clients that "Please enter a password different from current one"

**Would you like to work on the issue?**

I will try to handle it but if not successful will ask developers from server team to look i

[2017-07-16 05:52] DravitLochan commented on #374
Did not had the clone updated. All of the aaa APIs do have accepted flag. @saurabhjn76 Good job!

[2017-07-16 05:52] #374 closed

[2017-07-16 17:42] imujjwal96 opened #380 "Implement Yaydoc docs generation in susi_server"
[Yaydoc](https://yaydoc.fossasia.org) is FOSSASIA's own automatic documentation generation and deployment project. At the crux of it, Yaydoc generates a documentation website using the markdown present in a project's repository and keeps the website in sync with the changes made in project's documentation.

The project has been under development since the start of GSoC 2017 and we believe that it

[2017-07-16 18:12] DravitLochan commented on #380
@imujjwal96 Does this requires admin login?

[2017-07-16 18:15] imujjwal96 commented on #380
Eventually, it will be required. Right now, the yaydoc team(@pri22296, @sch00lb0y  and I) are currently working on it and testing it. We will then send a PR with changes required for the docs generation.

[2017-07-17 15:06] uday96 opened #382 "Handle action type answer with pharses instead of expression attributes"
**Actual Behaviour**

For queries like `I love google` , the api response - http://api.susi.ai/susi/chat.json?timezoneOffset=-330&q=I+love+google has an action type `answer` but doesnt have a `expression` attribute like always. It contains `phrases` and `select` attributes with `intent_original` in the phrase value.
[code]

**Expected Behaviour**

This shouldn't be happening. A expression must be

[2017-07-17 22:34] saurabhjn76 opened #383 "Add description and images to skills"
**Actual Behaviour**
Currently, the skills lack description, and image needed to create a skill page at skill_susi_cms like that of Alexa

![image](https://user-images.githubusercontent.com/9781788/28292670-ad10cea2-6b6d-11e7-8974-14f5c525fde6.png)

**Expected Behaviour**
!description and !images tags should be added to rules to fetch description and images URL from skills.

**Would you like to wo

[2017-07-18 05:04] #359 closed

[2017-07-18 06:33] uday96 commented on #240
The orga server is deployed in the similar way. Checkout @niranjan94 comment here -https://github.com/fossasia/susi_server/issues/159#issuecomment-304507059 .

From what I have understood till now,
- On every merge, we build and push a docker image to docker hub and update the kubernetes deployment. (Rolling update) - https://github.com/fossasia/open-event-orga-server/blob/nextgen/kubernetes/travi

[2017-07-18 06:46] AliAyub007 opened #384 "HTTP Error 500 on requesting query from SUSI Api"
On requesting query from SUSI API It is giving java.lang.outOfMemmory: java heap space error and it also gives GC overhead limit exceeded instead of heap space error.

<img width="366" alt="screen shot 2017-07-17 at 4 46 33 pm" src="https://user-images.githubusercontent.com/25840461/28303628-8fcb7712-6bad-11e7-8e9e-5bee68d0a309.png">

If I try requesting with my VPN turned on it is working fine an

[2017-07-18 17:11] DravitLochan opened #385 "Check for current and new password is not implemented properly in ChangePassword servlet"
**Actual Behaviour**
Just uses string value received in the parameters to evaluate whether user has entered password same or not.

**Expected Behaviour**
Proper hashes should be used to evaluate this. Also first check whether or not current password entered by the user is valid or not.

**Steps to reproduce it**
Remove current implementation and implement it properly.

**Would you like to work on

[2017-07-19 04:05] dynamitechetan opened #386 "Update push-docs-to-gh-pages.sh to save swagger UI"
Swagger UI is deleted when we push it to github pages.
https://github.com/fossasia/susi_server/blob/development/.utility/push-docs-to-gh-pages.sh
update this script to copy swagger-UI folder to a temp folder and then copy it back when javadocs page push is complete

[2017-07-19 12:51] #345 closed

[2017-07-19 13:19] DravitLochan opened #388 "While entering passwords, server is not accepting special characters."
**Actual Behaviour**
No special character apart from '@' is accepted in the password. Exception with error code 400 and message "invalid password" is sent to clients.

**Expected Behaviour**
User should be able to set any password with minimum length 6.

**Would you like to work on the issue?**
Yes

[2017-07-19 14:20] saurabhjn76 opened #390 "add endpoint to get skill description"
To make skill page in susi_skill_cms, I will be adding a servlet to fetch description from susi_skills.

[2017-07-19 14:35] #375 closed

[2017-07-19 15:18] saurabhjn76 opened #392 "adding images to skills"
In reference to issue #383, we need to add images in skill to build skill page in susi_skill_cms.
Please suggest ways to handle this.

One way is to store them in some folder at susi_skill_data, and mention the image url in each skill.

[2017-07-19 15:18] saurabhjn76 commented on #392
@Orbiter @mariobehling @dynamitechetan, please provide your views

[2017-07-19 15:24] dynamitechetan commented on #392
I am working on this.

[2017-07-20 04:52] sudheesh001 opened #394 "Remove image usage in heroku deployments"
The image field seems to be unwanted in the heroku deployment. I do not see this field being used anywhere either. Please remove https://github.com/fossasia/susi_server/blob/development/app.json#L7

[2017-07-20 12:42] #377 closed

[2017-07-20 17:05] dynamitechetan opened #397 "Add servlet to get images of skills"

[2017-07-20 18:27] uday96 opened #399 "Modify change settings endpoint to batch update settings"
**Actual Behaviour**

The current endpoint for changing settings accepts only one key and value in one server call. But the client has multiple settings and calling the server every time for each setting is throwing an error - `Your request frequency is too high`.

**Expected Behaviour**

Have a method of updating multiple settings in a single server call

**Would you like to work on the issue?**

[2017-07-20 18:28] saurabhjn76 commented on #399
sure :+1:

[2017-07-21 04:22] r0hit-gupta commented on #397
Isse kuch nhi hoga

[2017-07-21 07:33] DravitLochan commented on #388
Client side implementation was failing. All servlets accepted the special characters. fixed in pr [#127](https://github.com/fossasia/accounts.susi.ai/pull/127)

[2017-07-21 07:33] #388 closed

[2017-07-21 07:34] DravitLochan commented on #371
@mariobehling Please close this issue as it has been fixed now!

[2017-07-21 11:51] Orbiter commented on #326
@DravitLochan good point, maybe this makes sense for cms as well!

[2017-07-21 12:18] Orbiter opened #400 "analyse link is wrong"
**Actual Behaviour**

the "analyse" phrase brings up a text and a link where the skill can be edited. Like:

<img width="729" alt="analyse_fail" src="https://user-images.githubusercontent.com/238730/28463135-32d0b7ce-6e1f-11e7-8c4d-668e7342e73c.png">

But the link points to the wrong path. If I click on the link, I get

`https://github.com/fossasia/susi_server/blob/development/file:/languagetest`

[2017-07-21 12:19] Orbiter commented on #400
The textual given link is also wrong!
This was working when the feature was implemented initially!

[2017-07-21 12:31] DravitLochan commented on #326
@Orbiter Not an issue. Will add them.

[2017-07-21 14:10] saurabhjn76 commented on #400
@Orbiter Can you please help me reproducing the bug, I am not able to get the same response from susi, when I try "meine sprache" or "my language". I got different replies and link for them was correct.
![image](https://user-images.githubusercontent.com/9781788/28466973-bf42effc-6e4b-11e7-86cd-4459b4045daf.png)
![image](https://user-images.githubusercontent.com/9781788/28466997-e03f6c76-6e4b-11e7-

[2017-07-21 14:56] Orbiter commented on #400
Hm, well I guess you are right. Sorry for the confusion I caused. But you are right, that's also a good opportunity to react accordingly also for a Susi dream. Please make an addition.

[2017-07-22 12:28] DravitLochan commented on #362
Please close this issue if resolved!

[2017-07-23 18:27] #390 closed

[2017-07-23 18:28] #392 closed

[2017-07-23 18:28] #383 closed

[2017-07-24 22:28] tabesin opened #405 "Star and other characters sent skill requests idle"
**Actual Behaviour**

When I ask "What is dog in french?" the proper skill is envoked and I get a response. When I use the mask of the skill, and ask "What is * in french?" or "what is # in french?" the request is idle and only after a long time eventually responds with a web search. In the case of "#" the request stays even longer idle (I waited for 10 minutes so far without a response). Note, th

[2017-07-25 04:07] dynamitechetan opened #406 "Add API endpoint for getting links preview."
Android and iOS clients have used libraries to show link previews. Webchat needs an API endpoint to show link previews.

[2017-07-25 18:16] DravitLochan opened #408 "Add API end point to allow the user to request account verification link again"
**Actual Behaviour**
No option for the user to request for a new verification link after signup.

**Expected Behaviour**
User should be given an option to request a new verification link.

**Steps to reproduce it**
add a new servlet.

**Would you like to work on the issue?**
Yes

[2017-07-25 18:58] uday96 opened #409 "History not consistent"
**Actual Behaviour**

The history being fetched is not consistent and always return only 10 cognitions with `cognitions_remaning : 0` though new messages were entered.

url used : http://api.susi.ai/susi/memory.json?access_token=ACCESS_TOKEN

Initial History : https://pastebin.com/PwnqCu0X

Sent a query `twelve` using same access_token

New History : https://pastebin.com/uZH91cUv

We can see that

[2017-07-26 06:05] uday96 commented on #409
@chiragw15 Please take a look

[2017-07-26 08:18] chiragw15 commented on #409
@uday96 I just checked and you are right. History is not consistent. This is because This line `List<SusiCognition> cognitions = DAO.susi.getMemories().getCognitions(client);` here https://github.com/fossasia/susi_server/blob/development/src/ai/susi/server/api/susi/UserService.java#L73 should theoretically give all previous user cognitions but somehow it gives only 5 latest ones. I tried this on l

[2017-07-26 17:30] uday96 opened #412 "If there are two PCs in the same network the chat shows the same history"
**Actual Behaviour**

Two PCs connected to the same network show the same chat history in anonymous mode.

**Expected Behaviour**

Every device has its own history in anonymous mode.

**Side note:**

For logged in users the history is parsed based on email id from `/data/susi/email_EMAIL`
For anonymous users the history is parsed based on IP from `/data/susi/host_IP`

So since the two PCs were con

[2017-07-26 18:19] uday96 commented on #412
@Orbiter Please guide on how this can be handled?

[2017-07-27 00:36] saurabhjn76 opened #413 "enhance description servlet to get skill wise description"
**Actual Behaviour**

currently, all skills description are coming
![image](https://user-images.githubusercontent.com/9781788/28649280-5d4dd15a-7291-11e7-8f74-b6454bcd1d80.png)

**Expected Behaviour**

add a skill parameter in url call to get the description of desired skill

**Would you like to work on the issue?**

yes

[2017-07-27 02:11] DravitLochan opened #415 "Bug in signup"
**Actual Behaviour**
Once the verification token is expired, user is not given any relevant message about it at time of login/signup. Nor is the user able to login and signup.

**Expected Behaviour**
Once the verification token is expired, Tell the user that it has been expired and ask them if they want to generate a new token for verification.

**Steps to reproduce it**
modifications in Signup an

[2017-07-27 08:45] uday96 opened #416 "Update the documentation for Deployment to kubernetes on Gcloud"
**Actual Behaviour**

The existing documentation doesn't contain information about persistence disk and doesn't make use of yaml files for creating the kubernetes deployment

**Expected Behaviour**

Update the documentation with the required details in reference to https://github.com/fossasia/susi_server/pull/402

**Would you like to work on the issue?**

Yes

[2017-07-27 17:31] chashmeetsingh opened #417 "remove redundant link from in case of map action"
**Actual Behaviour**

Both the anchor action and answer action contain the same link.

**Expected Behaviour**

Only the anchor action should contain the link for the map.

**Steps to reproduce it**

Query: `where is delhi`.

**Would you like to work on the issue?**

No.

[2017-07-28 06:02] #416 closed

[2017-07-28 06:11] uday96 opened #421 "User settings are not being updated in data/settings/accounting.json in the same session"
**Actual Behaviour**

When the user is logged in and updates his settings, the settings aren't being reflected in `data/settings/accounting.json` . But when the user is logged out and he creates a new account and logs in with that account then the settings of previously logged in user are reflected in `data/settings/accounting.json` but the settings of the currently logged in user is shown empty t

[2017-07-29 22:16] mariobehling opened #423 "Deployment to Heroku not working"
Test deployment to Heroku is not working here: https://susi-server.herokuapp.com

[2017-07-29 23:30] mariobehling opened #424 "Implement format and useful data to include all info in skills on the server side"
In order to include all relevant data in skills we need to outline how the format should look like. Please implement this on the server side. This is directly related to: https://github.com/fossasia/susi_skill_data/issues/254

We need to include the following:

* Name of skill
* Name of author
* URL of author
* Permissions (e.g. free to enable)
* Lead Question (The question that should be shown in

[2017-07-30 14:52] #413 closed

[2017-07-31 08:35] dynamitechetan opened #427 "Create new file on modifyskill.json if skill does not exists"

[2017-07-31 11:47] hpdang opened #429 "Improve OpenStreetMap displays and output on Server and Clients"
The map features have some confusing way of display and text. Please fix the following:

* [ ] Expected: Singapore is a place in Asia with a population of ... Here is a map.
   * "Here is a map" should incorporate the link already. No need to show the link additionally.
   * Do not show the info on OpenStreetMap and info "OpenStreetMap is a..."
* [ ] Do not show "Link to an OpenStreetMap for your

[2017-07-31 11:50] mariobehling commented on #427
What is this issue about? Why is there no description? What is your workflow? Quickly open an issue and add code that you have done before? This does not make sense.

[2017-07-31 11:56] chashmeetsingh commented on #429
@hpdang this needs to be handled on the server which requires removing the `anchor` action type and adding the link to the answer action. @dynamitechetan can you make a PR for the same?

[2017-07-31 12:00] chiragw15 commented on #429
@hpdang The link is already removed in PR #428. The deployment is not updated yet. So when the deployment is updated, the result will be like:
Message 1. Singapore is a place with population of 123456.
Message 2. [Link to Open Street map of Singapore](https://github.com).
Message 3. [Map Image]

Is this structure fine or should we remove Message 2 completely and add link in Message 1 only.

[2017-07-31 12:09] dynamitechetan commented on #427
Sorry, I forgot to open the issue previously. It was a small change, so I made the issue just before opening a PR.
Sorry I will not repeat this.

[2017-07-31 12:09] #427 closed

[2017-07-31 22:32] saurabhjn76 opened #430 "modify !description & !image, to make them refer a skill instead of an intent"
**Actual Behaviour**

Currently, !image and !description is for a particular intent. As mentioned in comments [https://github.com/fossasia/susi_skill_data/issues/254#issuecomment-318979499](https://github.com/fossasia/susi_skill_data/issues/254#issuecomment-318979499) it should refer to a skill.

**Expected Behaviour**
Use global attributes using notion "::".

**Would you like to work on the issue